<h2 class="content-block">Indicador de Disponibilidad</h2>
<div [id]="'myDiv'" class="content-block dx-card responsive-paddings">
    <br><br>

        <dx-form id="form" [formData]="formFilter">

            <dxi-item itemType="group" cssClass="form-group" [colCount]="3">
                 
                <dxi-item itemType="group">
                    <dxi-item dataField="UdN">  
                        <dx-select-box [dataSource]="unidadNegoios" valueExpr="idUnidad" displayExpr="ciudad" [value]="unidadNegoios[0].idUnidad" (onValueChanged)="selectUdn($event)"></dx-select-box>  
                    </dxi-item>  
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="Fecha" editorType="dxDateBox" [editorOptions]="{ width: '100%', displayFormat:'dd/MM/yyyy' }"></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" class="styleButton">
                    <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                    </dx-button>
                </dxi-item>
                
            </dxi-item>
        </dx-form>
            <br>
    <div>
        <!--==========================Bar and Line Chart==================-->
        <!-- <dx-chart id="chart" [dataSource]="graficaModel">

            <dxi-series argumentField="mes" valueField="total" name="Sinestrado" type="bar" color="#363640">
                <dxo-label [visible]="true" [format]="formatSliderTooltip" position="inside">
                    <dxo-font size="9"></dxo-font>
                </dxo-label>
            </dxi-series>

            <dxi-series argumentField="mes" valueField="presupuesto" name="Gestoria" type="line" color="#FA593F">
                <dxo-label [visible]="true" [format]="formatSliderTooltip" position="outside">
                    <dxo-font size="9"></dxo-font>
                </dxo-label>

            </dxi-series>


            <dxi-series argumentField="mes" valueField="Diponibilidad" name="Disponiblidad" type="line" color="#1A9D2A">
                <dxo-label [visible]="true" [format]="formatSliderTooltip" position="outside">
                    <dxo-font size="9"></dxo-font>
                </dxo-label>

            </dxi-series>

            <dxo-title text="Indicadores de Disponibilidad de Unidades">
                <dxo-subtitle text="(GST)"> </dxo-subtitle>
            </dxo-title>

            <dxo-export [enabled]="true"></dxo-export>
        </dx-chart> -->

        <!--====================================Finish chart==========-->
        <br>
        <dx-tab-panel>
            <dxi-item title="Disponibilidad">
                <br>
                <dx-data-grid #totales id="gridContainer1" [dataSource]="resumen" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                (onRowPrepared)="onRowPreparedResumen($event)" (onCellPrepared)="onCellPreparedResumen($event)">
                
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                <dxo-paging [pageSize]="100"></dxo-paging>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true"></dxo-export>

                <dxi-column dataField="tractoUdN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                <dxi-column dataField="tractoOperacion" caption="Operación"></dxi-column>

                    <dxi-column caption="Disponibilidad Unidades">
                        <dxi-column dataField="totalUds" caption="Total Uds Asignadas"></dxi-column>
                        <dxi-column dataField="disponibles" caption="Disponibles"></dxi-column>
                        <dxi-column dataField="variacion" caption="Variación"></dxi-column>
                        <dxi-column dataField="taller" caption="Taller"></dxi-column>
                        <dxi-column dataField="siniestrado" caption="Siniestrado"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Disponibilidad Operadores">
                        <dxi-column dataField="disponiblesOpe" caption="Disponibles"></dxi-column>
                        <dxi-column dataField="operandoOpe" caption="Operando"></dxi-column>
                        <dxi-column dataField="variacionOpe" caption="Variación"></dxi-column>
                        <dxi-column dataField="patioOpe" caption="Patio"></dxi-column>
                        <dxi-column dataField="esperaViaje" caption="En espera"></dxi-column>
                        <dxi-column dataField="instructorOpe" caption="Instructor"></dxi-column>
                        <dxi-column dataField="tallerOpe" caption="Taller"></dxi-column>
                        <dxi-column dataField="totalOpe" caption="Total"></dxi-column>
                    </dxi-column>


        <!-- 
                    <div *dxTemplate="let data of 'detalleCellTemplate'">
                        <dx-button icon="paste" stylingMode="outlined" type="danger" (onClick)="openDetalle(data)"></dx-button>
                    </div> -->

                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
                <br>
            </dxi-item>
            <dxi-item title="Unidades">
                <br>
                <dx-data-grid #totales id="gridContainer2" [dataSource]="tractos" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedTractos($event)" (onCellPrepared)="onCellPreparedTractos($event)">
                    
                        <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                    <dxo-paging [pageSize]="100"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxo-export [enabled]="true"></dxo-export>

                    <dxo-filter-row
                    [visible]="showFilterRow"
                    [applyFilter]="currentFilter"
                    ></dxo-filter-row>
                    
                    <dxi-column dataField="tractoUdN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                    <dxi-column dataField="tractoOperacion" caption="" [fixed]="true" [groupIndex]="1"></dxi-column>

                        <dxi-column caption="Información del Tracto" [fixed]="true">
                            <dxi-column dataField="tracto" caption="Tracto"></dxi-column>
                            <dxi-column dataField="tractoTipoUnidad" caption="Tipo de Tracto"></dxi-column>
                            <dxi-column dataField="tractoEstado" caption="Status"></dxi-column>
                        </dxi-column>
                        <dxi-column caption="Información del Último Viaje">
                            <dxi-column dataField="viajeUdN" caption="UdN"></dxi-column>
                            <dxi-column dataField="viajeNoViaje" caption="No. Viaje"></dxi-column>
                            <dxi-column dataField="viajeDespachado" caption="Fecha Despacho"></dxi-column>
                            <dxi-column dataField="viajeFin" caption="Fecha Fin"></dxi-column>
                            <dxi-column dataField="viajeEnFin" caption="¿En viaje?"></dxi-column>
                        </dxi-column>
                        <dxi-column caption="Viajes Cargados del Día">
                            <dxi-column dataField="viajeCarNum" caption="Cant. Viajes"></dxi-column>
                            <dxi-column dataField="viajeCarGuias" caption="Cant. CP"></dxi-column>
                        </dxi-column>
                        <dxi-column caption="">
                            <dxi-column dataField="ordenMttoIdOrden" caption="Num Orden"></dxi-column>
                            <dxi-column dataField="ordenMttoObservaciones" caption="Observaciones"></dxi-column>
                            <dxi-column dataField="ordenMttoEstado" caption="Status"></dxi-column>
                            <dxi-column dataField="ordenMttoInicio" caption="Inicio"></dxi-column>
                            <dxi-column dataField="ordenMttoCierre" caption="Cierre"></dxi-column>
                            <dxi-column dataField="ordenMttoDias" caption="Dias Abierta"></dxi-column>
                        </dxi-column>



                        <!-- <div *dxTemplate="let data of 'detalleCellTemplate'">
                            <dx-button icon="paste" stylingMode="outlined" type="danger" (onClick)="openDetalle(data)"></dx-button>
                        </div> -->

                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
                <br>
            </dxi-item>
            <dxi-item title="Operadores">
                <br>
                <dx-data-grid #DisOpe id="gridContainer3" [dataSource]="operadores" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                (onRowPrepared)="onRowPreparedOperador($event)"  (onCellPrepared)="onCellPreparedOperador($event)">
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                    <dxo-paging [pageSize]="100"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxo-export [enabled]="true"></dxo-export>

                    <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>

                    <dxi-column dataField="operadorUdN" caption="" [fixed]="true" [allowEditing]="false" [groupIndex]="0"></dxi-column>
                    <dxi-column dataField="operacion" caption="" [fixed]="true" [allowEditing]="false" [groupIndex]="1"></dxi-column>

                    <dxi-column caption="Operador">
                        <dxi-column dataField="id_personal" caption="Clave" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="operadorNombre" caption="Nombre" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="En Viaje">
                        <dxi-column dataField="viajeNoviaje" caption="No Viaje" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="viajeIdArea" caption="Id Area" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="viajeFecha" caption="Despacho" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="viajeTipo" caption="Tipo" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Ultimo Viaje">
                        <dxi-column dataField="ultViajeNoviaje" caption="No. Viaje" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ultViajeIdArea" caption="Id Area" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ultViajeFecha" caption="Despacho" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ultViajeTipo" caption="Tipo" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ultViajeTracto" caption="Unidad" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Mantenimiento">
                        <dxi-column dataField="fecha_programada" caption="Programado" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ordenMttoIdOrden" caption="No. Orden" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="tractoEstado" caption="Edo. Unidad" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ordenMttoInicio" caption="Inicio" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Tipo de Operación Operador">
                        <dxi-column dataField="operacion" caption="Operación" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="fechaModifico" caption="Modifico" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="nombreTipoOp" caption="Usuario" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Status Logístico Manual">
                        <dxi-column dataField="descripcionStManual" caption="Status" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="observaciones" caption="Observaciones" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="nombreUsSt" caption="Modifico" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="inicio" caption="Inicio" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="fin" caption="Fin" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Status Disponibilidad">
                        <dxi-column dataField="status" caption="Status" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="descripcion" caption="Descripción" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="tipo" caption="Tipo" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>

                    <!-- <dxi-column caption="Asignación Operación">
                        <dxi-column dataField="asigOperacion" caption="Operación" [fixed]="false" [width]="130">
                            <dxo-lookup [dataSource]="operacion" displayExpr="operacion" valueExpr="id">
                            </dxo-lookup></dxi-column>
                        <dxi-column dataField="asigModifico" caption="Modificó" [fixed]="false" dataType="date" format="dd/MM/yyyy" [width]="130"></dxi-column>    
                    </dxi-column>
                    <dxi-column caption="Status Logístico">
                        <dxi-column dataField="statLogistico" caption="Status Logístico" [fixed]="false" [width]="150">
                            <dxo-lookup [dataSource]="estadosOp" displayExpr="logistica" valueExpr="operativo">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="statModifico" caption="Modificó" [fixed]="false" dataType="date" format="dd/MM/yyyy" [width]="130"></dxi-column>    
                        <dxi-column dataField="statRetorno" caption="Retorno" [fixed]="false" dataType="date" format="dd/MM/yyyy" [width]="130"></dxi-column>
                    </dxi-column> -->

                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
                <br>
        </dxi-item>
    </dx-tab-panel>

        <!-- <dx-data-grid *ngIf="selectedUdn === 0" #totales id="gridContainer2" [dataSource]="indicadores" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
         (onRowPrepared)="onRowPrepared($event)" (onContentReady)="onContentReady($event)" (onCellPrepared)="onCellPrepared($event)" (onCellClick)="verDetallesClick($event)">
            <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
            <dxo-paging [pageSize]="100"></dxo-paging>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <dxo-export [enabled]="true"></dxo-export>

            <dxi-column dataField="unidadNegocio" caption="" [groupIndex]="0"></dxi-column>
            <dxi-column dataField="tipoOperacion" caption="Operación" [fixed]="true"></dxi-column>

            <dxi-column caption="ORIZABA">
                <dxi-column dataField="" caption="U" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
                <dxi-column dataField="" caption="%" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
            </dxi-column>
            <dxi-column caption="GUADALAJARA">
                <dxi-column dataField="" caption="U" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
                <dxi-column dataField="" caption="%" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
            </dxi-column>
            <dxi-column caption="RAMOS ARIZPE">
                <dxi-column dataField="" caption="U" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
                <dxi-column dataField="" caption="%" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
            </dxi-column>
            <dxi-column caption="MEXICALI">
                <dxi-column dataField="" caption="U" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
                <dxi-column dataField="" caption="%" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
            </dxi-column>
            <dxi-column caption="HERMOSILLO">
                <dxi-column dataField="" caption="U" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
                <dxi-column dataField="" caption="%" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
            </dxi-column>
            <dxi-column caption="LA PAZ">
                <dxi-column dataField="" caption="U" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
                <dxi-column dataField="" caption="%" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
            </dxi-column>
            <dxi-column caption="CUAUTITLAN">
                <dxi-column dataField="" caption="IngUeso" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
                <dxi-column dataField="" caption="%" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
            </dxi-column>
            <dxi-column caption="TULTITLAN">
                <dxi-column dataField="" caption="U" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
                <dxi-column dataField="" caption="%" [fixed]="false" [format]="formatValue" [width]="130"></dxi-column>
            </dxi-column>

            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        </dx-data-grid>
        <br>

        <dx-data-grid *ngIf="selectedUdn !== 0" #total id="gridContainer2" [dataSource]="indicadores" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
        (onRowPrepared)="onRowPrepared($event)" (onContentReady)="onContentReady($event)" (onCellPrepared)="onCellPrepared($event)" (onCellClick)="verDetallesClick($event)">
           <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
           <dxo-paging [pageSize]="100"></dxo-paging>
           <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
           <dxo-export [enabled]="true"></dxo-export>

           <dxi-column dataField="unidadNegocio" caption="" [groupIndex]="0"></dxi-column>
           <dxi-column dataField="tipoOperacion" caption="Operación" [fixed]="true"></dxi-column>

           <dxi-column caption="{{ printUdn }}">
               <dxi-column dataField="" caption="U" [fixed]="false" [format]="formatValue"></dxi-column>
               <dxi-column dataField="" caption="%" [fixed]="false" [format]="formatValue"></dxi-column>
           </dxi-column>

           <dxo-group-panel [visible]="false"></dxo-group-panel>
           <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        </dx-data-grid>
        <br>

        <dx-data-grid #totales id="gridContainer2" [dataSource]="indicadores" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
        (onRowPrepared)="onRowPrepared($event)" (onContentReady)="onContentReady($event)" (onCellPrepared)="onCellPrepared($event)" (onCellClick)="verDetallesClick($event)">
           <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
           <dxo-paging [pageSize]="100"></dxo-paging>
           <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
           <dxo-export [enabled]="true"></dxo-export>

            <dxi-column dataField="" caption="Estatus" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Remolque" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Operación" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Razon Rep" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Area Taller" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Descripcion" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Fecha Ingreso" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Fecha Compromiso" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="No Orden" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Dias Estatuus" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Fecha Prometida" [fixed]="false"></dxi-column>
            <dxi-column dataField="" caption="Detalle" [fixed]="false" cellTemplate="detalleCellTemplate" [width]="100"></dxi-column>

            <div *dxTemplate="let data of 'detalleCellTemplate'">
                <dx-button icon="paste" stylingMode="outlined" type="danger" (onClick)="openDetalle(data)"></dx-button>
            </div>

           <dxo-group-panel [visible]="false"></dxo-group-panel>
           <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
       </dx-data-grid>

       <dx-data-grid #totales id="gridContainer2" [dataSource]="indicadores" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
       (onRowPrepared)="onRowPrepared($event)" (onContentReady)="onContentReady($event)" (onCellPrepared)="onCellPrepared($event)" (onCellClick)="verDetallesClick($event)">
          <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
          <dxo-paging [pageSize]="100"></dxo-paging>
          <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
          <dxo-export [enabled]="true"></dxo-export>

           <dxi-column dataField="" caption="Total Unidad" [fixed]="false"></dxi-column>
           <dxi-column dataField="" caption="Disponibles" [fixed]="false"></dxi-column>
           <dxi-column dataField="" caption="Variación" [fixed]="false"></dxi-column>
           <dxi-column dataField="" caption="Taller" [fixed]="false"></dxi-column>
           <dxi-column dataField="" caption="Siniestrado" [fixed]="false"></dxi-column>
           <dxi-column dataField="" caption="Disponibles" [fixed]="false"></dxi-column>
           <dxi-column dataField="" caption="Operando" [fixed]="false"></dxi-column>
           <dxi-column dataField="" caption="Variacón" [fixed]="false"></dxi-column>
           <dxi-column dataField="" caption="Patio" [fixed]="false"></dxi-column>

          <dxo-group-panel [visible]="false"></dxo-group-panel>
          <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
      </dx-data-grid> -->
    </div>


    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>


    <dx-toast [(visible)]="isVisible" type="info" message="Seleccione Año y Mes">
        <dxo-position my="top" at="right" of="#container">
        </dxo-position>
    </dx-toast>
</div>