<h2 class="content-block">Disponibilidad</h2>
<div [id]="'myDiv'" class="content-block dx-card responsive-paddings">
    <br><br>

        <dx-form id="form" [formData]="formFilter">

            <dxi-item itemType="group" cssClass="form-group" [colCount]="3">
                 
                <dxi-item itemType="group">
                    <dxi-item dataField="UdN">  
                        <dx-select-box [dataSource]="unidadNegoios" valueExpr="idUnidad" displayExpr="ciudad" [value]="unidadNegoios[0].idUnidad" (onValueChanged)="selectUdn($event)"></dx-select-box>  
                    </dxi-item>  
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="Fecha" editorType="dxDateBox" [editorOptions]="{ width: '100%', displayFormat:'dd/MM/yyyy' }"></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" class="styleButton">
                    <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                    </dx-button>
                </dxi-item>
                
            </dxi-item>
        </dx-form>
            <br>
    <div>
        <!--==========================Bar and Line Chart==================-->
        <!-- <dx-chart id="chart" [dataSource]="graficaModel">

            <dxi-series argumentField="mes" valueField="total" name="Sinestrado" type="bar" color="#363640">
                <dxo-label [visible]="true" [format]="formatSliderTooltip" position="inside">
                    <dxo-font size="9"></dxo-font>
                </dxo-label>
            </dxi-series>

            <dxi-series argumentField="mes" valueField="presupuesto" name="Gestoria" type="line" color="#FA593F">
                <dxo-label [visible]="true" [format]="formatSliderTooltip" position="outside">
                    <dxo-font size="9"></dxo-font>
                </dxo-label>

            </dxi-series>


            <dxi-series argumentField="mes" valueField="Diponibilidad" name="Disponiblidad" type="line" color="#1A9D2A">
                <dxo-label [visible]="true" [format]="formatSliderTooltip" position="outside">
                    <dxo-font size="9"></dxo-font>
                </dxo-label>

            </dxi-series>

            <dxo-title text="Indicadores de Disponibilidad de Unidades">
                <dxo-subtitle text="(GST)"> </dxo-subtitle>
            </dxo-title>

            <dxo-export [enabled]="true"></dxo-export>
        </dx-chart> -->

        <!--====================================Finish chart==========-->
        <br>
        <dx-tab-panel>
            <dxi-item title="Disponibilidad">
                <br>
                <h3>Tractos y Operadores</h3>
                <dx-data-grid #resmen id="gridContainer1" [dataSource]="resumen" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                (onRowPrepared)="onRowPreparedResumen($event)" (onCellPrepared)="onCellPreparedResumen($event)">
                
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                <dxo-paging [pageSize]="100"></dxo-paging>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true"></dxo-export>

                <dxi-column dataField="tractoUdN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                <dxi-column dataField="tractoOperacion" caption="Operación" [fixed]="true"></dxi-column>
                
                    <dxi-column caption="Disponibilidad Unidades">
                        <dxi-column dataField="presupuesto" caption="Presupuesto"></dxi-column>
                        <dxi-column dataField="totalUds" caption="Total Uds Asignadas"></dxi-column>
                        <dxi-column dataField="disponibles" caption="Disponibles"></dxi-column>
                        <dxi-column dataField="udsPorDisp" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="variacion" caption="Variación"></dxi-column>
                        <dxi-column dataField="udsPorVariacion" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="taller" caption="Taller"></dxi-column>
                        <dxi-column dataField="udsPorTaller" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="siniestrado" caption="Siniestrado"></dxi-column>
                        <dxi-column dataField="udsPorSiniestrado" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="noDisponibles" caption="No Disponibles"></dxi-column>
                        <dxi-column dataField="udsPorNoDisponibles" caption="%" format="percent"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Disponibilidad Operadores">
                        <dxi-column dataField="disponiblesOpe" caption="Disponibles"></dxi-column>
                        <dxi-column dataField="opePorDisp" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="operandoOpe" caption="Operando"></dxi-column>
                        <dxi-column dataField="opePorOperando" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="variacionOpe" caption="Variación"></dxi-column>
                        <dxi-column dataField="opePorVariacion" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="patioOpe" caption="Patio"></dxi-column>
                        <dxi-column dataField="opePorPatio" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="esperaViaje" caption="En espera"></dxi-column>
                        <dxi-column dataField="opePorEspera" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="instructorOpe" caption="Instructor"></dxi-column>
                        <dxi-column dataField="opePorInstructor" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="tallerOpe" caption="Taller"></dxi-column>
                        <dxi-column dataField="opePorTaller" caption="%" format="percent"></dxi-column>
                        <dxi-column dataField="totalOpe" caption="Total"></dxi-column>
                    </dxi-column>

                    <dxo-summary [calculateCustomSummary]="calcularPorcentajes"> 
                        <dxi-group-item column="presupuesto" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item column="totalUds" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item column="disponibles" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <!-- <dxi-group-item showInColumn="udsPorDisp" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item> -->
                        <dxi-group-item showInColumn="udsPorDisp" name="grupEnero" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>

                        <dxi-group-item column="variacion" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="udsPorVariacion" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="taller" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="udsPorTaller"  summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="siniestrado" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="udsPorSiniestrado" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="noDisponibles" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="udsPorNoDisponibles" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="disponiblesOpe" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="opePorDisp" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="operandoOpe" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="opePorOperando" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="variacionOpe" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="opePorVariacion" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="patioOpe" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="opePorPatio" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="esperaViaje" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="opePorEspera" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="instructorOpe" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="opePorInstructor" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="tallerOpe" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item showInColumn="opePorTaller" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
                        <dxi-group-item column="totalOpe" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>

                        <dxi-total-item column="presupuesto" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="totalUds" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="disponibles" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="udsPorDisp" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="variacion" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="udsPorVariacion" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="taller" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="udsPorTaller" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="siniestrado" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="udsPorSiniestrado" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="noDisponibles" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="udsPorNoDisponibles" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="disponiblesOpe" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="opePorDisp" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="operandoOpe" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="opePorOperando" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="variacionOpe" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="opePorVariacion" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="patioOpe" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="opePorPatio" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="esperaViaje" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="opePorEspera" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="instructorOpe" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="opePorInstructor" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="tallerOpe" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item showInColumn="opePorTaller" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                        <dxi-total-item column="totalOpe" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    </dxo-summary>

                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
                <br>

                <br>
                <h3>Remolques</h3>
                <dx-data-grid #resumenR id="gridContainer1" [dataSource]="resumenRemolques" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                (onRowPrepared)="onRowPreparedResumen($event)" (onCellPrepared)="onCellPreparedResumen($event)">
                
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                <dxo-paging [pageSize]="100"></dxo-paging>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true"></dxo-export>

                <dxi-column dataField="tractoUdN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                <dxi-column dataField="tractoOperacion" caption="Operación" [fixed]="true"></dxi-column>
                <dxi-column dataField="totalUds" caption="Total Uds Asigandas"></dxi-column>
                <dxi-column dataField="porTotalUds" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="disponibilidad" caption="Disponibles"></dxi-column>
                <dxi-column dataField="porDisponibilidad" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="variacion" caption="Variación"></dxi-column>
                <dxi-column dataField="porVariacion" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="taller" caption="Taller"></dxi-column>
                <dxi-column dataField="PorTaller" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="siniestrado" caption="Siniestrado"></dxi-column>
                <dxi-column dataField="porSiniestrado" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="noDisponibles" caption="No Disponible"></dxi-column>
                <dxi-column dataField="porNoDisponibles" caption="%" format="percent"></dxi-column>
                
                <dxo-summary [calculateCustomSummary]="calcularPorcentajes"> 

                    <dxi-group-item column="totalUds" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porTotalUds" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="disponibilidad" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porDisponibilidad" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="variacion" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porVariacion" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="taller" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="PorTaller" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="siniestrado" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porSiniestrado" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="noDisponibles" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porNoDisponibles" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>

                    <dxi-total-item column="totalUds" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porTotalUds" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="disponibilidad" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porDisponibilidad" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="variacion" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porVariacion" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="taller" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="PorTaller" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="siniestrado" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porSiniestrado" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="noDisponibles" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porNoDisponibles" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                </dxo-summary>

                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
                <br>

                <br>
                <h3>Dolly</h3>
                <dx-data-grid #resumenD id="gridContainer1" [dataSource]="resumenDolly" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                (onRowPrepared)="onRowPreparedResumen($event)" (onCellPrepared)="onCellPreparedResumen($event)">
                
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                <dxo-paging [pageSize]="100"></dxo-paging>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true"></dxo-export>

                <dxi-column dataField="tractoUdN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                <dxi-column dataField="tractoOperacion" caption="Operación" [fixed]="true"></dxi-column>
                <dxi-column dataField="totalUds" caption="Total Uds Asigandas"></dxi-column>
                <dxi-column dataField="porTotalUds" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="disponibilidad" caption="Disponibles"></dxi-column>
                <dxi-column dataField="porDisponibilidad" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="variacion" caption="Variación"></dxi-column>
                <dxi-column dataField="porVariacion" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="taller" caption="Taller"></dxi-column>
                <dxi-column dataField="PorTaller" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="siniestrado" caption="Siniestrado"></dxi-column>
                <dxi-column dataField="porSiniestrado" caption="%" format="percent"></dxi-column>
                <dxi-column dataField="noDisponibles" caption="No Disponible"></dxi-column>
                <dxi-column dataField="porNoDisponibles" caption="%" format="percent"></dxi-column>

                <dxo-summary [calculateCustomSummary]="calcularPorcentajes"> 

                    <dxi-group-item column="totalUds" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porTotalUds" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="disponibilidad" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porDisponibilidad" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="variacion" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porVariacion" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="taller" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="PorTaller" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="siniestrado" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porSiniestrado" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item column="noDisponibles" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                    <dxi-group-item showInColumn="porNoDisponibles" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>

                    <dxi-total-item column="totalUds" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porTotalUds" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="disponibilidad" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porDisponibilidad" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="variacion" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porVariacion" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="taller" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="PorTaller" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="siniestrado" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porSiniestrado" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                    <dxi-total-item column="noDisponibles" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                    <dxi-total-item showInColumn="porNoDisponibles" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>
                </dxo-summary>
                
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
                <br>
            </dxi-item>
            <dxi-item title="Unidades">
                <br>
                <dx-data-grid #totales id="gridContainer2" [dataSource]="tractos" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedTractos($event)" (onCellPrepared)="onCellPreparedTractos($event)">
                    
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                    <dxo-paging [pageSize]="100"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>

                    <!-- <dxo-filter-row
                    [visible]="showFilterRow"
                    [applyFilter]="currentFilter"
                    ></dxo-filter-row> -->
                    
                    <dxi-column dataField="tractoUdN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                    <dxi-column dataField="tractoOperacion" caption="" [fixed]="true" [groupIndex]="1"></dxi-column>

                        <dxi-column caption="Información del Tracto" [fixed]="true">
                            <dxi-column dataField="tracto" caption="Tracto"></dxi-column>
                            <dxi-column dataField="tractoTipoUnidad" caption="Tipo de Tracto"></dxi-column>
                            <dxi-column dataField="idRemolque1" caption="Remolque 1"></dxi-column>
                            <dxi-column dataField="idRemolque2" caption="Remolque 2"></dxi-column>
                            <dxi-column dataField="dolly" caption="Dolly"></dxi-column>
                            <dxi-column dataField="tractoEstado" caption="Status"></dxi-column>
                        </dxi-column>
                        <dxi-column caption="Información del Último Viaje">
                            <dxi-column dataField="viajeUdN" caption="UdN"></dxi-column>
                            <dxi-column dataField="viajeNoViaje" caption="No. Viaje"></dxi-column>
                            <dxi-column dataField="viajeDespachado" caption="Fecha Despacho"></dxi-column>
                            <dxi-column dataField="viajeFin" caption="Fecha Fin"></dxi-column>
                            <dxi-column dataField="viajeEnViaje" caption="¿En viaje?"></dxi-column>
                        </dxi-column>
                        <dxi-column caption="Viajes Cargados del Día">
                            <dxi-column dataField="viajeCarNum" caption="Cant. Viajes"></dxi-column>
                            <dxi-column dataField="viajeCarGuias" caption="Cant. CP"></dxi-column>
                        </dxi-column>
                        <dxi-column caption="Última Orden de Mantemiento ">
                            <dxi-column dataField="ordenMttoIdOrden" caption="Num Orden"></dxi-column>
                            <dxi-column dataField="ordenMttoObservaciones" caption="Observaciones"></dxi-column>
                            <dxi-column dataField="ordenMttoEstado" caption="Status"></dxi-column>
                            <dxi-column dataField="ordenMttoInicio" caption="Inicio"></dxi-column>
                            <dxi-column dataField="ordenMttoCierre" caption="Cierre"></dxi-column>
                            <dxi-column dataField="ordenMttoDias" caption="Dias Abierta"></dxi-column>
                        </dxi-column>



                        <!-- <div *dxTemplate="let data of 'detalleCellTemplate'">
                            <dx-button icon="paste" stylingMode="outlined" type="danger" (onClick)="openDetalle(data)"></dx-button>
                        </div> -->

                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
                <br>
            </dxi-item>
            <dxi-item title="Operadores">
                <br>
                <dx-data-grid #DisOpe id="gridContainer3" [dataSource]="operadores" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                (onRowPrepared)="onRowPreparedOperador($event)"  (onCellPrepared)="onCellPreparedOperador($event)">
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                    <dxo-paging [pageSize]="100"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>

                    <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>

                    <dxi-column dataField="operadorUdN" caption="" [fixed]="true" [allowEditing]="false" [groupIndex]="0"></dxi-column>
                    <!-- <dxi-column dataField="operacion" caption="" [fixed]="true" [allowEditing]="false" [groupIndex]="1"></dxi-column> -->

                    <dxi-column caption="Operador" [fixed]="true">
                        <dxi-column dataField="id_personal" caption="Clave" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="operadorNombre" caption="Nombre" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="En Viaje">
                        <dxi-column dataField="viajeNoviaje" caption="No Viaje" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="viajeIdArea" caption="Id Area" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="viajeFecha" caption="Despacho" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="viajeTipo" caption="Tipo" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Ultimo Viaje">
                        <dxi-column dataField="ultViajeNoviaje" caption="No. Viaje" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ultViajeIdArea" caption="Id Area" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ultViajeFecha" caption="Despacho" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ultViajeTipo" caption="Tipo" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ultViajeTracto" caption="Unidad" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Mantenimiento">
                        <dxi-column dataField="fecha_programada" caption="Programado" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ordenMttoIdOrden" caption="No. Orden" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="tractoEstado" caption="Edo. Unidad" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="ordenMttoInicio" caption="Inicio" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Tipo de Operación Operador">
                        <dxi-column dataField="operacion" caption="Operación" [fixed]="false" [width]="150" editCellTemplate="selectBoxOperacion"></dxi-column>
                        <dxi-column dataField="fechaModifico" caption="Modifico" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="nombreTipoOp" caption="Usuario" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="" caption="Guardar" [fixed]="false" cellTemplate="tipoOperaOpeardCellTemplate" [width]="100"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Status Logístico Manual">
                        <dxi-column dataField="descripcionStManual" caption="Status" [fixed]="false" [width]="180" editCellTemplate="selectBoxStatus"></dxi-column>
                        <dxi-column dataField="observaciones" caption="Observaciones" [fixed]="false" [allowEditing]="true"></dxi-column>
                        <dxi-column dataField="nombreUsSt" caption="Modifico" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="inicio" caption="Inicio" [fixed]="false" dataType="date" format="dd/MM/yyyy" [width]="130"></dxi-column>
                        <dxi-column dataField="fin" caption="Fin" [fixed]="false" dataType="date" format="dd/MM/yyyy" [width]="130"></dxi-column>
                        <dxi-column dataField="" caption="Guardar" [fixed]="false" cellTemplate="statusMAnualCellTemplate" [width]="100"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="Status Disponibilidad">
                        <dxi-column dataField="status" caption="Status" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="descripcion" caption="Descripción" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="tipo" caption="Tipo" [fixed]="false" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="disponible" caption="Diponible" [fixed]="false" [allowEditing]="false"></dxi-column>
                    </dxi-column>
                    <!-- <div *dxTemplate="let cellInfo of 'dateBoxInicioCell'">
                        <dx-date-box type="date" [value]="now" displayFormat="dd/MM/yyyy" [inputAttr]="{ 'aria-label': 'Custom Format' }" (onChange)="dateBixInicio($event)"> </dx-date-box>
                    </div> -->
                    <!--=============================Select Box Operacion============================-->
                    <div *dxTemplate="let cellInfo of 'selectBoxOperacion'">
                        <dx-select-box [dataSource]="operaciones" valueExpr="id" displayExpr="descripcion" (onValueChanged)="selectOperacion($event)"></dx-select-box>
                    </div>
                    <!--=============================Select Box Status============================-->
                    <div *dxTemplate="let cellData of 'selectBoxStatus'">
                      <dx-select-box [dataSource]="status" valueExpr="id" displayExpr="descripcion" (onBlur)="blurStatus(cellData)" (onValueChanged)="selectStatus($event)"></dx-select-box>
                    </div>
                    <!--=============================Button save Status Manual============================-->
                    <div *dxTemplate="let data of 'statusMAnualCellTemplate'">
                        <dx-button icon="save" stylingMode="outlined" type="success" (onClick)="saveStatusManual(data)"></dx-button>
                    </div>
                    <!--=============================Button save Operacion============================-->
                    <div *dxTemplate="let data of 'tipoOperaOpeardCellTemplate'">
                        <dx-button icon="save" stylingMode="outlined" type="success" (onClick)="saveTipoOperacionOper(data)"></dx-button>
                    </div>

                    <dxo-summary>
                        <dxi-group-item column="operadorNombre" summaryType="count"> </dxi-group-item>
                    </dxo-summary>

                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
                <br>
            </dxi-item>
            <dxi-item title="Remolques">
                <br>
                <dx-data-grid #totales id="gridContainer4" [dataSource]="remolque" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedRemolques($event)" (onCellPrepared)="onCellPreparedRemolques($event)">
                    
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                    <dxo-paging [pageSize]="100"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    
                    <dxi-column dataField="tractoUdN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                    <dxi-column dataField="tractoOperacion" caption="" [fixed]="true" [groupIndex]="1"></dxi-column>

                        <dxi-column caption="Información del Remolque" [fixed]="true">
                            <dxi-column dataField="tracto" caption="Unidad"></dxi-column>
                            <dxi-column dataField="tractoTipoUnidad" caption="Tipo"></dxi-column>
                            <dxi-column dataField="tractoEstado" caption="Status"></dxi-column>
                        </dxi-column>
                        <dxi-column caption="Ultima Orden de Mantenimiento">
                            <dxi-column dataField="ordenMttoIdOrden" caption="Num. Orden"></dxi-column>
                            <dxi-column dataField="ordenMttoObservaciones" caption="Observaciones"></dxi-column>
                            <dxi-column dataField="ordenMttoEstado" caption="Status"></dxi-column>
                            <dxi-column dataField="ordenMttoInicio" caption="Inicio"></dxi-column>
                            <dxi-column dataField="ordenMttoCierre" caption="Cierre"></dxi-column>
                            <dxi-column dataField="ordenMttoDias" caption="Dias Abierta"></dxi-column>
                        </dxi-column>
                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
                <br>
            </dxi-item>
    </dx-tab-panel>
    </div>


    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>


    <dx-toast [(visible)]="isVisible" type="info" message="Seleccione Año y Mes">
        <dxo-position my="top" at="right" of="#container">
        </dxo-position>
    </dx-toast>
</div>