<!-- Card principal  -->
<div class="content-block dx-card responsive-paddings padding-10">

    <dx-tab-panel>
        <dxi-item title="Cartera cliente">
            <br><br>
            <dx-responsive-box>
                <!-- COLS -->
                <!-- <dxi-col [ratio]="1"></dxi-col> -->
                <!--Año-->
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
                <!--vacia-->
                <dxi-col [ratio]=".15"></dxi-col>
                <!--Buscar-->
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]=".25"></dxi-col>
        
        
                <!-- ROWS -->
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
        
                <!-- CONTROLES DEL FORM -->
                <!--#region :::: ROW 1 DEL FORM ::::  -->
                <!-- AÑO -->
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Compañía:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="boxCartera" displayExpr="cartera" valueExpr="id" (onValueChanged)="selectBoxCartera($event)">
                    </dx-select-box>
                </dxi-item>
                <!-- BUSCAR -->
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                        </dx-button>
                    </div>
                </dxi-item>
                <!--#endregion :::: FIN ROW 1 ::::  -->
            </dx-responsive-box>

            <br><br><br>

            <h4><p style="text-align: center"> <b>
                TRANSPORTES DE CARGA GEMINIS, S.A. DE C.V.<br>
                SALDOS DE CARTERA AL 31 DE MARZO DEL 2023
            </b></p></h4>

            <br>

            <dx-data-grid  #ER id="gridContainer2" [dataSource]="carteraClientes" [height]="700"[showBorders]="true" [columnAutoWidth]="true"
            (onRowPrepared)="onRowPreparedCAER($event)" (onCellPrepared)="onCellPreparedCAER($event)">

              <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
              <dxo-paging [pageSize]="100"></dxo-paging>
              <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
              <dxo-export [enabled]="true" fileName="CARTERA CLIENTES" [customizeExcelCell]="customizeCAER"></dxo-export>
<!-- [customizeExcelCell]="customizeCAER" -->
                <dxi-column dataField="nombreCliente" caption="Nombre de cliente"></dxi-column>
                <dxi-column dataField="corriente" caption="Corriente" [format]="formatSliderTooltip"></dxi-column>
                <dxi-column dataField="dias1A30" caption="1 a 30 dias" [format]="formatSliderTooltip"></dxi-column>
                <dxi-column dataField="dias31A60" caption="31 a 60 dias" [format]="formatSliderTooltip"></dxi-column>
                <dxi-column dataField="dias61A90" caption="61 a 90 dias" [format]="formatSliderTooltip"></dxi-column>
                <dxi-column dataField="mayorA90" caption="Mayor de 90" [format]="formatSliderTooltip"></dxi-column>
                <dxi-column dataField="total" caption="Total" [format]="formatSliderTooltip" cssClass="styletotal"></dxi-column>

            </dx-data-grid>
        </dxi-item>

        <dxi-item title="Detalle">
            <br>
            <div>

                <div class="dx-field">
        
                    <div class="dx-field-value d-block mr-0 ml-auto" style="width: 20%;">
                        <dx-button stylingMode="contained" text="Actualizar" icon="refresh" type="normal" [width]="240" (onClick)="ActuaizarDetalle()">
                        </dx-button>
                    </div>
        
                </div>
            </div>
            <br>

            <dx-data-grid  #ING id="gridContainer1" [dataSource]="detalle" [height]="600"[showBorders]="true" [columnAutoWidth]="true"
            (onRowPrepared)="onRowPreparedD($event)" (onCellPrepared)="onCellPreparedD($event)">

            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->

            <dxi-column dataField="cliente" caption="Cliente" [width]="100"></dxi-column>
            <dxi-column dataField="nombre" caption="Nombre" [width]="100"></dxi-column>
            <dxi-column dataField="nocarta" caption="Num. Carta" [width]="100"></dxi-column> 
            <dxi-column dataField="documento" caption="Documento" [width]="100"></dxi-column>
            <dxi-column dataField="remision" caption="Remisión" [width]="250"></dxi-column>
            <dxi-column dataField="fechA_GUIA" caption="Fecha guía" [width]="150"></dxi-column>
            <dxi-column dataField="viaje" caption="Viaje" [width]="100"></dxi-column>
            <dxi-column dataField="unidad" caption="Unidad" [width]="100"></dxi-column> 
            <dxi-column dataField="remolquE1" caption="Remolque 1" [width]="100"></dxi-column> 
            <dxi-column dataField="totaL_SALDO" caption="Total saldo" [width]="100"></dxi-column> 
            <dxi-column dataField="totaL_VENCIDOS" caption="Total vencidos" [width]="130"></dxi-column> 
            <dxi-column dataField="saldo" caption="Saldo" [width]="100"></dxi-column>            
            <dxi-column dataField="porvencido" caption="Por vencido" [width]="100"></dxi-column> 
            <dxi-column dataField="diaS115" caption="1-15" [width]="100"></dxi-column> 
            <dxi-column dataField="diaS1630" caption="16-30" [width]="100"></dxi-column> 
            <dxi-column dataField="diaS3145" caption="31-45" [width]="100"></dxi-column> 
            <dxi-column dataField="diaS4660" caption="46-60" [width]="100"></dxi-column> 
            <dxi-column dataField="diaS6190" caption="61-90" [width]="100"></dxi-column> 
            <dxi-column dataField="diaS91120" caption="91-120" [width]="100"></dxi-column> 
            <dxi-column dataField="diaS120" caption="> 120" [width]="100"></dxi-column> 
            <dxi-column dataField="poR_VENCER" caption="Por vencer" [width]="100"></dxi-column> 
            <dxi-column dataField="poR_VENCER2" caption="Por vencer 2" [width]="100"></dxi-column> 
            <dxi-column dataField="dias_vencimiento" caption="Días transcurridos" [width]="140"></dxi-column>
            <dxi-column dataField="venC17" caption="1-7" [width]="100"></dxi-column> 
            <dxi-column dataField="venC815" caption="8-15" [width]="100"></dxi-column> 
            <dxi-column dataField="venC1630" caption="16-30" [width]="100"></dxi-column> 
            <dxi-column dataField="venC31" caption="> 30" [width]="100"></dxi-column> 
            <dxi-column dataField="saldO_SIN_CCOBRO" caption="Saldo sin cobro" [width]="160"></dxi-column>
            <dxi-column dataField="totaL_INTEGRADO" caption="Total integrado" [width]="160"></dxi-column>
            <dxi-column dataField="tipO_DE_CREDITO" caption="Tipo de crédito" [width]="150"></dxi-column>             
            <dxi-column dataField="diaS_DECREDITO" caption="Días de crédito" [width]="150"></dxi-column>
            <dxi-column dataField="subtotal" caption="Subtotal" [width]="100"></dxi-column> 
            <dxi-column dataField="iva" caption="IVA" [width]="100"></dxi-column>  
            <dxi-column dataField="fechA_DE_VENCIMIENTO" caption="Fecha de vencimiento" [width]="150"></dxi-column>
            <dxi-column dataField="montO_RETENCION" caption="Monto retención" [width]="150"></dxi-column>            
            <dxi-column dataField="fechA_CARTA" caption="Fecha carta" [width]="150"></dxi-column>
            <dxi-column dataField="factoR_IVA" caption="Factor IVA" [width]="100"></dxi-column> 
            <dxi-column dataField="factoR_DE_RETENCION" caption="Factor de retención" [width]="150"></dxi-column> 
            <dxi-column dataField="monto_pago" caption="Monto pago" [width]="100"></dxi-column> 
            <dxi-column dataField="status_guia" caption="Estatus guía" [width]="100"></dxi-column> 
            <dxi-column dataField="tipo_origen" caption="Tipo origen" [width]="100"></dxi-column> 
            <dxi-column dataField="tipo_doc" caption="Tipo doc." [width]="100"></dxi-column> 
            <dxi-column dataField="no_poliza" caption="Num. Póliza" [width]="100"></dxi-column> 
            <dxi-column dataField="no_cartaF" caption="Num. CartaF" [width]="100"></dxi-column> 
            <dxi-column dataField="id_area" caption="ID área" [width]="100"></dxi-column>
            
            <!-- <dxo-summary>
                <dxi-group-item column="totaL_SALDO" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="totaL_VENCIDOS" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="saldo" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="porvencido" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="poR_VENCER2" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="poR_VENCER" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="saldO_SIN_CCOBRO" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="totaL_INTEGRADO" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="subtotal" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="iva" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="montO_RETENCION" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="factoR_IVA" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="factoR_DE_RETENCION" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="monto_pago" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"></dxi-group-item>

        
                <dxi-total-item column="totaL_SALDO" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="totaL_VENCIDOS" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="saldo" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="porvencido" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="poR_VENCER2" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="poR_VENCER" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="saldO_SIN_CCOBRO" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="totaL_INTEGRADO" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="subtotal" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="iva" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="montO_RETENCION" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="factoR_IVA" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="factoR_DE_RETENCION" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
                <dxi-total-item column="monto_pago" summaryType="sum"  displayFormat="{0}"></dxi-total-item>
            </dxo-summary> -->

            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="Detalle"></dxo-export>
            <dxo-paging [pageSize]="60"></dxo-paging>
            <dxo-sorting mode="none"></dxo-sorting>

            </dx-data-grid>
        </dxi-item>
    </dx-tab-panel>

    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>

    <dx-toast [(visible)]="isVisible" type="warning" message="Seleccione Año y Mes">  
        <dxo-position
            my="top"
            at="right"
            of="#container">
        </dxo-position>
    </dx-toast>
</div>
