<h2 class="content-block">Costos Anuales</h2>

<!-- Card principal  -->
<div class="content-block dx-card responsive-paddings padding-10">

    <dx-responsive-box>
        <!-- COLS -->
        <!-- <dxi-col [ratio]="1"></dxi-col> -->
        <!--Año-->
        <dxi-col [ratio]=".60"></dxi-col>
        <dxi-col [ratio]="1"></dxi-col>
        <!--vacia-->
        <dxi-col [ratio]=".15"></dxi-col>
        <!--Mes-->
        <dxi-col [ratio]=".60"></dxi-col>
        <dxi-col [ratio]="1.50"></dxi-col>
        <!--vacia-->
        <dxi-col [ratio]=".15"></dxi-col>
        <!--Compañia-->
        <dxi-col [ratio]="1.30"></dxi-col>
        <dxi-col [ratio]="4"></dxi-col>
        <!--vacia-->
        <dxi-col [ratio]=".15"></dxi-col>
        <!--UDN-->
        <dxi-col [ratio]=".70"></dxi-col>
        <dxi-col [ratio]="3"></dxi-col>
        <!--vacia-->
        <dxi-col [ratio]=".15"></dxi-col>
        <!--Clasificacion-->
        <dxi-col [ratio]="1.70"></dxi-col>
        <dxi-col [ratio]="3"></dxi-col>
        <!--vacia-->
        <dxi-col [ratio]=".15"></dxi-col>
        <!--Buscar-->
        <dxi-col [ratio]="1"></dxi-col>
        <dxi-col [ratio]=".25"></dxi-col>


        <!-- ROWS -->
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>

        <!-- CONTROLES DEL FORM -->
        <!--#region :::: ROW 1 DEL FORM ::::  -->
        <!-- AÑO -->
        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
            <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
            <div>Año:</div>
        </dxi-item>

        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
            <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
            <dx-select-box [items]="arrAnos" displayExpr="anio" valueExpr="idAnio" (onValueChanged)="seleccionarAnio($event)">
            </dx-select-box>
        </dxi-item>
        <!-- MES -->
        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
            <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="2" [col]="0" [colspan]="12"></dxi-location>
            <div>Mes:</div>
        </dxi-item>
        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="4"></dxi-location>
            <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="3" [col]="0" [colspan]="12"></dxi-location>
            <dx-select-box [items]="arrMeses" displayExpr="nombre" valueExpr="idMes" (onValueChanged)="seleccionarMes($event)">
            </dx-select-box>
        </dxi-item>

        <!--Compañia -->
        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="6"></dxi-location>
            <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="0" [col]="0" [colspan]="12"></dxi-location>
            <div>Compañia:</div>
        </dxi-item>
        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="7"></dxi-location>
            <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="1" [col]="0" [colspan]="12"></dxi-location>
            <dx-select-box [items]="companias" displayExpr="compania" valueExpr="idComp" (onValueChanged)="selectCompania($event)">
            </dx-select-box>
        </dxi-item>
        <!--ROW 1 Unidad de Negocio -->
        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="9"></dxi-location>
            <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="0" [col]="0" [colspan]="12"></dxi-location>
            <div>UdN:</div>
        </dxi-item>
        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="10"></dxi-location>
            <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="1" [col]="0" [colspan]="12"></dxi-location>
            <dx-tag-box [items]="arrUnidadesNegocio" [showSelectionControls]="true" [maxDisplayedTags]="4" [dataSource]="arrUnidadesNegocio" displayExpr="ciudad" valueExpr="idUnidad" (onValueChanged)="seleccionarUDN($event)">
                >
            </dx-tag-box>
        </dxi-item>
        <!-- TRACTO -->
        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="12"></dxi-location>
            <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
            <div>Clasificación:</div>
        </dxi-item>

        <dxi-item>
            <dxi-location screen="md lg" [row]="0" [col]="13"></dxi-location>
            <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
            <div style="display: flex;">
              <dx-select-box #selectTracto id="selectTracto" style="width: 80%;"
              [items]="arrTractos"
              >
                  ></dx-select-box>
            </div>
        </dxi-item>
        <!-- BUSCAR -->
        <dxi-item>
            <dxi-location screen="md lg" [row]="2" [col]="13"></dxi-location>
            <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
            <div>
                <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                </dx-button>
            </div>
        </dxi-item>
        <!--#endregion :::: FIN ROW 1 ::::  -->
    </dx-responsive-box>
  
    <br><br><br>
<!--==========================Line Chart==================-->
    <div id="chart-demo">
        <dx-chart palette="Violet" [dataSource]="countriesInfo">
        <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value" [name]="energy.name">{{energy.name}}</dxi-series>
        <dxo-common-series-settings #seriesSettings argumentField="month" [type]="types[0]"></dxo-common-series-settings>
        <dxo-margin [bottom]="20"></dxo-margin>
        <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
            <dxo-grid [visible]="true"></dxo-grid>
        </dxo-argument-axis>
        <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom"></dxo-legend>
        <dxo-title text="Costos">
            <dxo-subtitle text="(Anuales)"> </dxo-subtitle>
        </dxo-title>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-tooltip [enabled]="true"></dxo-tooltip>
        </dx-chart>
    </div>
<!--====================================Finish chart==========-->
<br><br><br>


    <dx-data-grid #rentCont2 id="costosanuales" [dataSource]="costosAnuales" [showColumnLines]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [allowColumnResizing]="true" [allowColumnReordering]="false" [columnAutoWidth]="true" [showBorders]="true"
        (onRowPrepared)="onRowPrepared($event)" (onContentReady)="onContentReady($event)" (onCellPrepared)="onCellPrepared($event)">

        <dxo-export [enabled]="true"></dxo-export>

        <dxi-column dataField="compania" caption="" [groupIndex]="0" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="area" caption="" [groupIndex]="1" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="clasificacion" caption="" [groupIndex]="2" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="cuentaPadre" caption="" [groupIndex]="3" [allowSorting]="false"></dxi-column>

        <dxi-column dataField="idCuenta" caption="Clave" [fixed]="true" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="cuenta" caption="Descripción" format="dd-MM-yy HH:mm" type="date" [fixed]="true" headerCellTemplate="headerTemplate"></dxi-column>
        
        <dxi-column caption="Enero" headerCellTemplate="headerTemplate">
            <dxi-column dataField="eneroReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate">
                <dxo-format type="fixedPoint"> </dxo-format>
            </dxi-column>
            <dxi-column dataField="eneroPresupuesto" caption="Pppto" [fixed]="false"  headerCellTemplate="headerTemplate" cellTemplate="cellTemplateBold"></dxi-column>
            <dxi-column dataField="eneroDesviacion" caption="Var" [fixed]="false"  headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="eneroPorDesv" caption="%" [fixed]="false"  headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>

        <dxi-column caption="Febrero" headerCellTemplate="headerTemplate">
            <dxi-column dataField="febreroReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febreroPresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febreroDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febreroPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Marzo" headerCellTemplate="headerTemplate">
            <dxi-column dataField="marzoReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="marzoPresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="marzoDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="marzoPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Abril" headerCellTemplate="headerTemplate">
            <dxi-column dataField="abrilReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="abrilPresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="abrilDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="abrilPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Mayo" headerCellTemplate="headerTemplate">
            <dxi-column dataField="mayoReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="mayoPresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="mayoDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="mayoPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Junio" headerCellTemplate="headerTemplate">
            <dxi-column dataField="junioReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="junioPresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="junioDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="junioPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Julio" headerCellTemplate="headerTemplate">
            <dxi-column dataField="julioReal" caption="Real." [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="julioPresupuesto" caption="Pppto" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="julioDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="julioPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Agosto" headerCellTemplate="headerTemplate">
            <dxi-column dataField="agostoReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="agostoPresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="agostoDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="agostoPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Septiembre" headerCellTemplate="headerTemplate">
            <dxi-column dataField="septiembreReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="septiembrePresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="septiembreDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="septiembrePorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Octubre" headerCellTemplate="headerTemplate">
            <dxi-column dataField="octubreReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="octubrePresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="octubreDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="octubrePorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Noviembre" headerCellTemplate="headerTemplate">
            <dxi-column dataField="noviembreReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="noviembrePresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="noviembreDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="noviembrePorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Diciembre" headerCellTemplate="headerTemplate">
            <dxi-column dataField="diciembreReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="diciembrePresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="diciembreDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="diciembrePorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Acumulado" headerCellTemplate="headerTemplate">
            <dxi-column dataField="acumuladoReal" caption="Real" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="acumuladoPresupuesto" caption="Pppto" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="acumuladoDesviacion" caption="Var" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="acumuladoPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>

        <div *dxTemplate="let data of 'detalleCellTemplate'">
            <dx-button icon="paste" stylingMode="outlined" type="danger" (onClick)="verDetallesClick(data)"></dx-button>
        </div>


        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

        <dxo-summary>

            <!-- <dxi-total-item column="eneroReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="eneroPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="eneroDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="febreroReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="febreroPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="febreroDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="marzoReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="marzoPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="marzoDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="abrilReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="abrilPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="abrilDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="mayoReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="mayoPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="mayoDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="junioReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="junioPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="junioDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="julioReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="julioPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="julioDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="agostoReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="agostoPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="agostoDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint">
            </dxi-total-item>
            <dxi-total-item column="septiembreReal" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="septiembrePresupuesto" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="septiembreDesviacion" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="octubreReal" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="octubrePresupuesto" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="ocutbreDesviacion" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="noviembreReal" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="noviembrePresupuesto" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="noviembreDesviacion" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="diciembreReal" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="diciembrePresupuesto" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="diciembreDesviacion" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="acumuladoReal" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="acumuladoPresupuesto" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item>
            <dxi-total-item column="acumuladoDesviacion" summaryType="sum" valueFormat="currency" displayFormat="{0}">
            </dxi-total-item> -->

          <!-- SUMARY DE GRUPO -->
            <!--ENERO-->
            <dxi-group-item column="eneroReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="eneroPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="eneroDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--FEBRERO-->
            <dxi-group-item column="febreroReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="febreroPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="febreroDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--MARZO-->
            <dxi-group-item column="marzoReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="marzoPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="marzoDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--ABRIL-->
            <dxi-group-item column="abrilReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="abrilPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="abrilDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--MAYO-->
            <dxi-group-item column="mayoReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="mayoPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="mayoDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--JUNIO-->
            <dxi-group-item column="junioReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="junioPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="junioDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--JULIO-->
            <dxi-group-item column="julioReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="julioPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="julioDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--AGOSTO-->
            <dxi-group-item column="agostoReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="agostoPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="agostoDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--SEPTIEMBRE-->
            <dxi-group-item column="septiembreReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="septiembrePresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="septiembreDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--OCTUBRE-->
            <dxi-group-item column="octubreReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="octubrePresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="octubreDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--NOMVIEMBRE-->
            <dxi-group-item column="noviembreReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="noviembrePresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="noviembreDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--DICIEMBRE-->
            <dxi-group-item column="diciembreReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="diciembrePresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="diciembreDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--ACUMULADO-->
            <dxi-group-item column="acumuladoReal" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="acumuladoPresupuesto" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <dxi-group-item column="acumuladoDesviacion" summaryType="sum" displayFormat="{0}" valueFormat="fixedPoint" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!-- PORCENTAJES GRUPO -->
            <!--ENERO-->
            <dxi-group-item showInColumn="eneroPorDesv" name="grupEneroPorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--FEBRERO-->
            <dxi-group-item showInColumn="febreroPorDesv" name="grupFebreroPorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--MARZO-->
            <dxi-group-item showInColumn="marzoPorDesv" name="grupMarzoPorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--ABRIL-->
            <dxi-group-item showInColumn="abrilPorDesv" name="grupAbrilPorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--MAYO-->
            <dxi-group-item showInColumn="mayoPorDesv" name="grupMayoPorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--JUNIO-->
            <dxi-group-item showInColumn="junioPorDesv" name="grupJunioPorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--JULIO-->
            <dxi-group-item showInColumn="julioPorDesv" name="grupJulioPorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--AGOSTO-->
            <dxi-group-item showInColumn="agostoPorDesv" name="grupAgostoPorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--SEPTIEMBRE-->
            <dxi-group-item showInColumn="septiembrePorDesv" name="grupSeptiembrePorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--OCTUBRE-->
            <dxi-group-item showInColumn="octubrePorDesv" name="grupOctubrePorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--NOMVIEMBRE-->
            <dxi-group-item showInColumn="noviembrePorDesv" name="grupNoviembrePorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--DICIEMBRE-->
            <dxi-group-item showInColumn="diciembrePorDesv" name="grupDiciembrePorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
            <!--ACUMULADO-->
            <dxi-group-item showInColumn="acumuladoPorDesv" name="grupAcumuladoPorDesv" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
        </dxo-summary>

        <div *dxTemplate="let data of 'headerTemplate'">
            <div style="font-weight: bolder; color: black">
                {{ data.column.caption }}
            </div>
        </div>
        <div *dxTemplate="let cell of 'cellTemplateBold'">
            <div style="font-weight: bold;">{{cell.text}}</div>
        </div>
        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" displayMode="full" [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-sorting mode="none"></dxo-sorting>
    </dx-data-grid>

<!--==========================MODAL REAL=========================================================-->
        <dx-popup
        width="99%" [height]="400" [showTitle]="true" title="Detalle de Real" [dragEnabled]="false" [closeOnOutsideClick]="true"
        [showCloseButton]="true" container=".dx-viewport" [(visible)]="openModReal">
        <dxo-position at="middle" my="center" [of]="positionOf"> </dxo-position>
        <div *dxTemplate="let data of 'content'">
          <!--#region :::: GRID DETALLE DE REAL ::::  -->
          <dx-data-grid #rentGer id="gridContainer" [dataSource]="DestalleCuenta" [columnAutoWidth]="true" [showColumnLines]="true"
            [showBorders]="true" [rowAlternationEnabled]="true" (onRowPrepared)="onRowPreparedDetalle($event)">
            
            <dxi-column dataField="compania" caption="Compañia" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="area" caption="Area" headerCellTemplate="headerTemplate" format="dd-MM-yy"></dxi-column>
            <dxi-column dataField="identificadorPoliza" caption="Identificador Poliza" headerCellTemplate="headerTemplate" format="dd-MM-yy"></dxi-column>
            <dxi-column dataField="descripcionPoliza" caption="Descripción Poliza" headerCellTemplate="headerTemplate" format="fixedPoint"></dxi-column>
            <dxi-column dataField="modificacion" caption="Modificación" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="periodo" caption="Periodo" headerCellTemplate="headerTemplate" format="fixedPoint"></dxi-column>
            <dxi-column dataField="idIngreso" caption="Ingreso" headerCellTemplate="headerTemplate" format="fixedPoint"></dxi-column>
            <dxi-column dataField="numPartida" caption="Num. Partida" headerCellTemplate="headerTemplate" format="$ #,##0.##;-$ #,##0.##"></dxi-column>
            <dxi-column dataField="idCuenta" caption="Clave" headerCellTemplate="headerTemplate" format="$ #,##0.##;-$ #,##0.##"></dxi-column>
            <dxi-column dataField="cuenta" caption="Cuenta" format="percent" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="concepto" caption="Concepto" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="referencia" caption="Referencia" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="centroCosto" caption="Centro Costo" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="tipoOperacion" caption="Tipo Operación" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="factura" caption="Factura" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="uuid" caption="UUID" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="iva" caption="IVA" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="cargo" caption="Cargo" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="abono" caption="Abono" headerCellTemplate="headerTemplate"></dxi-column>
          <!-- Templates Grid -->
            <div *dxTemplate="let data of 'headerTemplate'">
              <div style="font-weight: bolder; color: black">
                {{ data.column.caption }}
              </div>
            </div>
  
            <div *dxTemplate="let info of 'titleHeaderTemplate'">
              <div style="font-weight: bolder; color: #ff5722">
                {{ info.column.caption }}
              </div>
            </div>
  
            <div
              *dxTemplate="let d of 'diffCellTemplate'"
              [class]="d.text >= 0 ? 'inc' : 'dec'"
            >
              <div class="diff"></div>
            </div>
  
            <dxo-export [enabled]="true"></dxo-export>
            <dxo-paging [pageSize]="30"></dxo-paging>
            <dxo-sorting mode="none"></dxo-sorting>
          </dx-data-grid>

        </div>
      </dx-popup>
<!--=============================================FIN MODAL==========================================-->

    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>
</div>
