<h2 class="content-block">Diponibilidad de Operadores</h2>
<div [id]="'myDiv'" class="content-block dx-card responsive-paddings">
    <!-- <br><br>
            <dx-responsive-box>
                <dxi-col [ratio]=".20"></dxi-col>
                <dxi-col [ratio]=".50"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]=".50"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]=".80"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]=".40"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]=".50"></dxi-col>

                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
        

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>UdN:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="unidadNegoios" displayExpr="ciudad" valueExpr="idUnidad" [value]="unidadNegoios[0].idUnidad" (onValueChanged)="selectUdn($event)">
                    </dx-select-box>
                </dxi-item>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Operación:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="4"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="operacion" displayExpr="operacion" valueExpr="operacion" [value]="operacion[0].operacion" (onValueChanged)="selectOperacion($event)">
                    </dx-select-box>
                </dxi-item>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="6"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Transporte:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="7"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="transporte" displayExpr="transporte" valueExpr="transporte" [value]="transporte[0].transporte" (onValueChanged)="selectTransporte($event)">
                    </dx-select-box>
                </dxi-item>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="9"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Periodo:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="10"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="periodo" displayExpr="periodo" valueExpr="periodo" (onValueChanged)="selectPeriodo($event)">
                    </dx-select-box>
                </dxi-item>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="12"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                        </dx-button>
                    </div>
                </dxi-item>

            </dx-responsive-box>
            <br><br> -->

    <div>
        <dx-data-grid #DisOpe id="gridContainer" [dataSource]="customers" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
         (onRowPrepared)="onRowPrepared($event)"  (onCellPrepared)="onCellPrepared($event)">
            <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
            <dxo-paging [pageSize]="100"></dxo-paging>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <dxo-export [enabled]="true"></dxo-export>

            <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>

            <dxi-column dataField="clave" caption="Clave" [fixed]="false" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="apellidoP" caption="Apellido Paterno" [fixed]="false" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="apellidoM" caption="Apellido Materno" [fixed]="false" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="nombre" caption="Nombre" [fixed]="false" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="status" caption="Status" [fixed]="false" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="fechaAlta" caption="Fecha de Alta" [fixed]="false" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="fechaNacimiento" caption="Fecha Nacimiento" [fixed]="false" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="udn" caption="UDN" [fixed]="false" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="unidad" caption="Unidad" [fixed]="false" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Asignación Operación">
                <dxi-column dataField="asigOperacion" caption="Operación" [fixed]="false" [width]="130">
                    <dxo-lookup [dataSource]="operacion" displayExpr="operacion" valueExpr="id">
                    </dxo-lookup></dxi-column>
                <dxi-column dataField="asigModifico" caption="Modificó" [fixed]="false" dataType="date" format="dd/MM/yyyy" [width]="130"></dxi-column>    
            </dxi-column>
            <dxi-column caption="Status Logístico">
                <dxi-column dataField="statLogistico" caption="Status Logístico" [fixed]="false" [width]="150">
                    <dxo-lookup [dataSource]="estadosOp" displayExpr="logistica" valueExpr="operativo">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="statModifico" caption="Modificó" [fixed]="false" dataType="date" format="dd/MM/yyyy" [width]="130"></dxi-column>    
                <dxi-column dataField="statRetorno" caption="Retorno" [fixed]="false" dataType="date" format="dd/MM/yyyy" [width]="130"></dxi-column>
            </dxi-column>
            <dxi-column dataField="observaciones" caption="Observaciones" [fixed]="false"></dxi-column>

            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        </dx-data-grid>
    </div>

    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>


    <dx-toast [(visible)]="isVisible" type="info" message="Seleccione Año y Mes">
        <dxo-position my="top" at="right" of="#container">
        </dxo-position>
    </dx-toast>
</div>