<!-- Card principal  -->
<div class="content-block dx-card responsive-paddings padding-10">

<!-- <input id="preview" type="file" (change)="previewFile($event)"/> -->

    <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              style="width: 400px; height: 500px"
  ></pdf-viewer>
    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>

    <dx-toast [(visible)]="isVisible" type="warning" message="Seleccione Año y Mes">  
        <dxo-position
            my="top"
            at="right"
            of="#container">
        </dxo-position>
    </dx-toast>
</div>
