<div class="content-block dx-card responsive-paddings padding-10">

    <dx-tab-panel>
        <dxi-item title="ScoreCard">
            <br><br>

            <!--<dx-responsive-box>
                <dxi-col [ratio]=".35"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]=".25"></dxi-col>

                <dxi-col [ratio]="1"></dxi-col>
                
        

                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
        

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="0" [col]="0" [colspan]="12"></dxi-location>
                    <div>Tipo de operación:</div>
                </dxi-item>
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="1" [col]="0" [colspan]="12"></dxi-location>
                    <dx-tag-box [items]="tipoOperacion" [showSelectionControls]="true" [maxDisplayedTags]="4" [dataSource]="tipoOperacion" displayExpr="nombre" valueExpr="id" (onValueChanged)="seleccionarTipoOpe($event)">
                    </dx-tag-box>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                        </dx-button>
                    </div>
                </dxi-item>

            </dx-responsive-box>
            <br><br>-->
                    <h3>Ingresos</h3>

                    <dx-data-grid  #ING id="gridContainer1" [dataSource]="ingresos" [height]="500"[showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedI($event)" (onCellPrepared)="onCellPreparedI($event)">
        
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>

                    <dxi-column dataField="mes" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>

                    <dxi-column dataField="operacion" caption="Operación"></dxi-column>
                    <dxi-column dataField="cuatitlan" caption="Cuautitlan" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                    <dxi-column dataField="tultitlan" caption="Tultitlan" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                    <dxi-column dataField="guadalajara" caption="Guadalajara" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                    <dxi-column dataField="hermosillo" caption="Hermosillo" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                    <dxi-column dataField="mexicali" caption="Mexicali" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                    <dxi-column dataField="orizaba" caption="Orizaba" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                    <dxi-column dataField="ramosArizpe" caption="Ramos Arizpe" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                    <dxi-column dataField="total" caption="Total" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                    
                    <dxo-summary>
                        <!-- SUMARY DE GRUPO -->
                        <dxi-group-item column="cuatitlan" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                        <dxi-group-item column="tultitlan" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                        <dxi-group-item column="guadalajara" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                        <dxi-group-item column="hermosillo" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                        <dxi-group-item column="mexicali" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                        <dxi-group-item column="orizaba" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                        <dxi-group-item column="ramosArizpe" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                        <dxi-group-item column="total" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>

                        <dxi-total-item column="cuatitlan" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="tultitlan" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="guadalajara" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="hermosillo" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="mexicali" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="orizaba" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="ramosArizpe" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="total" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                    </dxo-summary>

                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                    <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                    <dxo-export [enabled]="true" fileName="Ingreso" [customizeExcelCell]="customizeI"></dxo-export>
                    <dxo-paging [pageSize]="60"></dxo-paging>
                    <dxo-sorting mode="none"></dxo-sorting>

                    </dx-data-grid>
                    <br><br>
                    
                    <h3>Kilómetros</h3>

                    <dx-data-grid  #KMS id="gridContainer2" [dataSource]="kilomentros" [height]="500"[showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedK($event)" (onCellPrepared)="onCellPreparedK($event)">
        
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>

                        <dxi-column dataField="mes" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                        
                        <dxi-column dataField="operacion" caption="Operación"></dxi-column>
                        <dxi-column dataField="cuatitlan" caption="Cuautitlan" [format]="separator"></dxi-column>
                        <dxi-column dataField="tultitlan" caption="Tultitlan" [format]="separator"></dxi-column>
                        <dxi-column dataField="guadalajara" caption="Guadalajara" [format]="separator"></dxi-column>
                        <dxi-column dataField="hermosillo" caption="Hermosillo" [format]="separator"></dxi-column>
                        <dxi-column dataField="mexicali" caption="Mexicali" [format]="separator"></dxi-column>
                        <dxi-column dataField="orizaba" caption="Orizaba" [format]="separator"></dxi-column>
                        <dxi-column dataField="ramosArizpe" caption="Ramos Arizpe" [format]="separator"></dxi-column>
                        <dxi-column dataField="total" caption="Total" [format]="separator"></dxi-column>

                        <dxo-summary>
                            <!-- SUMARY DE GRUPO -->
                            <dxi-group-item column="cuatitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="tultitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="guadalajara" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="hermosillo" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="mexicali" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="orizaba" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="ramosArizpe" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="total" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
    
                            <dxi-total-item column="cuatitlan" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="tultitlan" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="guadalajara" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="hermosillo" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="mexicali" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="orizaba" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="ramosArizpe" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="total" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                        </dxo-summary>

                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                        <dxo-export [enabled]="true" fileName="Kilómetros" [customizeExcelCell]="customizeK"></dxo-export>
                        <dxo-paging [pageSize]="60"></dxo-paging>
                        <dxo-sorting mode="none"></dxo-sorting>

                    </dx-data-grid>
                    <br><br>

                    <h3>Viajes totales</h3>
                    <dx-data-grid  #VJS id="gridContainer4" [dataSource]="viajes" [height]="500"[showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedV($event)" (onCellPrepared)="onCellPreparedV($event)">
        
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>

                        <dxi-column dataField="mes" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>

                        <dxi-column dataField="operacion" caption="Operación"></dxi-column>
                        <dxi-column dataField="cuatitlan" caption="Cuautitlan" [format]="separator"></dxi-column>
                        <dxi-column dataField="tultitlan" caption="Tultitlan" [format]="separator"></dxi-column>
                        <dxi-column dataField="guadalajara" caption="Guadalajara" [format]="separator"></dxi-column>
                        <dxi-column dataField="hermosillo" caption="Hermosillo" [format]="separator"></dxi-column>
                        <dxi-column dataField="mexicali" caption="Mexicali" [format]="separator"></dxi-column>
                        <dxi-column dataField="orizaba" caption="Orizaba" [format]="separator"></dxi-column>
                        <dxi-column dataField="ramosArizpe" caption="Ramos Arizpe" [format]="separator"></dxi-column>
                        <dxi-column dataField="total" caption="Total" [format]="separator"></dxi-column>
                        
                        <dxo-summary>
                            <!-- SUMARY DE GRUPO -->
                            <dxi-group-item column="cuatitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="tultitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="guadalajara" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="hermosillo" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="mexicali" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="orizaba" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="ramosArizpe" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="total" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
    
                            <dxi-total-item column="cuatitlan" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="tultitlan" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="guadalajara" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="hermosillo" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="mexicali" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="orizaba" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="ramosArizpe" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="total" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                        </dxo-summary>

                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                        <dxo-export [enabled]="true" fileName="Viajes totales" [customizeExcelCell]="customizeV"></dxo-export>
                        <dxo-paging [pageSize]="60"></dxo-paging>
                        <dxo-sorting mode="none"></dxo-sorting>
                    
                    </dx-data-grid>
                    <br><br>

                    <h3>Viajes cargados</h3>
                    <dx-data-grid  #VJS id="gridContainer7" [dataSource]="viajesCargados" [height]="500"[showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedVC($event)" (onCellPrepared)="onCellPreparedVC($event)">
        
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>

                        <dxi-column dataField="mes" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>

                        <dxi-column dataField="operacion" caption="Operación"></dxi-column>
                        <dxi-column dataField="cuatitlan" caption="Cuautitlan" [format]="separator"></dxi-column>
                        <dxi-column dataField="tultitlan" caption="Tultitlan" [format]="separator"></dxi-column>
                        <dxi-column dataField="guadalajara" caption="Guadalajara" [format]="separator"></dxi-column>
                        <dxi-column dataField="hermosillo" caption="Hermosillo" [format]="separator"></dxi-column>
                        <dxi-column dataField="mexicali" caption="Mexicali" [format]="separator"></dxi-column>
                        <dxi-column dataField="orizaba" caption="Orizaba" [format]="separator"></dxi-column>
                        <dxi-column dataField="ramosArizpe" caption="Ramos Arizpe" [format]="separator"></dxi-column>
                        <dxi-column dataField="total" caption="Total" [format]="separator"></dxi-column>
                        
                        <dxo-summary>
                            <!-- SUMARY DE GRUPO -->
                            <dxi-group-item column="cuatitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="tultitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="guadalajara" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="hermosillo" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="mexicali" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="orizaba" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="ramosArizpe" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="total" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
    
                            <dxi-total-item column="cuatitlan" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="tultitlan" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="guadalajara" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="hermosillo" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="mexicali" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="orizaba" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="ramosArizpe" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="total" summaryType="sum" [valueFormat]="separator" displayFormat="{0}"></dxi-total-item>
                        </dxo-summary>

                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                        <dxo-export [enabled]="true" fileName="Viajes cargados" [customizeExcelCell]="customizeVC"></dxo-export>
                        <dxo-paging [pageSize]="60"></dxo-paging>
                        <dxo-sorting mode="none"></dxo-sorting>
                    
                    </dx-data-grid>
                    <br><br>

                    <h3>Ingreso por kilómetro</h3>

                    <dx-data-grid #priceDataGrid [dataSource]="precioMeta" [showColumnLines]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [allowColumnResizing]="true" [allowColumnReordering]="false"
                    [columnAutoWidth]="true" [showBorders]="true" (onCellPrepared)="onCellPreparedPM($event)">
                       
                       <dxi-column dataField="operacion" caption="Descripción" [width]="180"></dxi-column>
                       <dxi-column dataField="cuatitlan" caption="Cuautitlan" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                       <dxi-column dataField="tultitlan" caption="Tultitlan" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                       <dxi-column dataField="guadalajara" caption="Guadalajara" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                       <dxi-column dataField="hermosillo" caption="Hermosillo" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                       <dxi-column dataField="mexicali" caption="Mexicali" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                       <dxi-column dataField="orizaba" caption="Orizaba" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                       <dxi-column dataField="ramosArizpe" caption="Ramos Arizpe" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                       <dxi-column dataField="total" caption="Total" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                       
                       <dxo-summary>
                           <!-- SUMARY DE GRUPO -->
                           <dxi-group-item column="cuatitlan" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                           <dxi-group-item column="tultitlan" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                           <dxi-group-item column="guadalajara" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                           <dxi-group-item column="hermosillo" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                           <dxi-group-item column="mexicali" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                           <dxi-group-item column="orizaba" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                           <dxi-group-item column="ramosArizpe" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                           <dxi-group-item column="total" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                       </dxo-summary>

                       <dxo-group-panel [visible]="false"></dxo-group-panel>
                       <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
           
                       <div *dxTemplate="let data of 'headerTemplate'">
                           <div style="font-weight: bolder; color: black;">
                               {{ data.column.caption }}
                           </div>
                       </div>
                       <div *dxTemplate="let cell of 'cellTemplateBold'">
                           <div style="font-weight: bold;">{{cell.text}}</div>
                       </div>
                       <dxo-export [enabled]="true" fileName="Ingreso-Kilómetro" [customizeExcelCell]="customizeIK"></dxo-export>
                       <dxo-paging [pageSize]="60"></dxo-paging>
                       <dxo-sorting mode="none"></dxo-sorting>
                   </dx-data-grid>
                   <br>

                   <dx-data-grid  #INGXKMS id="gridContainer3" [dataSource]="ingresosKilometros" [height]="500"[showBorders]="true" [columnAutoWidth]="true"
                   (onRowPrepared)="onRowPreparedIK($event)" (onCellPrepared)="onCellPreparedIK($event)" [customizeExportData]="customizeExportData">
    
                   <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>

                        <dxi-column dataField="mes" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                        
                        <dxi-column dataField="operacion" caption="Operación" [width]="150"></dxi-column>
                        <dxi-column dataField="cuatitlan" caption="Cuautitlan" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                        <dxi-column dataField="tultitlan" caption="Tultitlan" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                        <dxi-column dataField="guadalajara" caption="Guadalajara" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                        <dxi-column dataField="hermosillo" caption="Hermosillo" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                        <dxi-column dataField="mexicali" caption="Mexicali" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                        <dxi-column dataField="orizaba" caption="Orizaba" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                        <dxi-column dataField="ramosArizpe" caption="Ramos Arizpe" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                        <dxi-column dataField="total" caption="Total" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                        
                        <dxo-summary>
                            <!-- SUMARY DE GRUPO -->
                            <dxi-group-item column="cuatitlan" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="tultitlan" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="guadalajara" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="hermosillo" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="mexicali" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="orizaba" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="ramosArizpe" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="total" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
        
                            <dxi-total-item column="cuatitlan" summaryType="avg" valueFormat="$ #,###,###.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="tultitlan" summaryType="avg" valueFormat="$ #,###,###.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="guadalajara" summaryType="avg" valueFormat="$ #,###,###.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="hermosillo" summaryType="avg" valueFormat="$ #,###,###.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="mexicali" summaryType="avg" valueFormat="$ #,###,###.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="orizaba" summaryType="avg" valueFormat="$ #,###,###.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="ramosArizpe" summaryType="avg" valueFormat="$ #,###,###.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="total" summaryType="avg" valueFormat="$ #,###,###.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                        </dxo-summary>

                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="expandGroup"></dxo-grouping>
                        <dxo-export [enabled]="true" fileName="Ingreso por kilómetro" [customizeExcelCell]="customizeIK"></dxo-export>
                        <dxo-paging [pageSize]="paginacion"></dxo-paging>
                        <dxo-sorting mode="none"></dxo-sorting>

                   </dx-data-grid>
                    <br><br>

                    <h3>Kilómetros por viaje</h3>
                    <dx-data-grid  #KMSXVJS id="gridContainer5" [dataSource]="kilometroViajes" [height]="500"[showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedKV($event)" (onCellPrepared)="onCellPreparedKV($event)" [customizeExportData]="customizeExportDataKV">

                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        
                        <dxi-column dataField="mes" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>

                        <dxi-column dataField="operacion" caption="Operación"></dxi-column>
                        <dxi-column dataField="cuatitlan" caption="Cuautitlan" [format]="separatorKV"></dxi-column>
                        <dxi-column dataField="tultitlan" caption="Tultitlan" [format]="separatorKV"></dxi-column>
                        <dxi-column dataField="guadalajara" caption="Guadalajara" [format]="separatorKV"></dxi-column>
                        <dxi-column dataField="hermosillo" caption="Hermosillo" [format]="separatorKV"></dxi-column>
                        <dxi-column dataField="mexicali" caption="Mexicali" [format]="separatorKV"></dxi-column>
                        <dxi-column dataField="orizaba" caption="Orizaba" [format]="separatorKV"></dxi-column>
                        <dxi-column dataField="ramosArizpe" caption="Ramos Arizpe" [format]="separatorKV"></dxi-column>
                        <dxi-column dataField="total" caption="Total" [format]="separatorKV"></dxi-column>
                        
                        <dxo-summary>
                            <!-- SUMARY DE GRUPO -->
                            <dxi-group-item column="cuatitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorKV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="tultitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorKV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="guadalajara" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorKV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="hermosillo" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorKV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="mexicali" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorKV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="orizaba" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorKV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="ramosArizpe" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorKV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="total" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorKV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
    
                            <dxi-total-item column="cuatitlan" summaryType="avg" [valueFormat]="separatorKV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="tultitlan" summaryType="avg" [valueFormat]="separatorKV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="guadalajara" summaryType="avg" [valueFormat]="separatorKV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="hermosillo" summaryType="avg" [valueFormat]="separatorKV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="mexicali" summaryType="avg" [valueFormat]="separatorKV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="orizaba" summaryType="avg" [valueFormat]="separatorKV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="ramosArizpe" summaryType="avg" [valueFormat]="separatorKV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="total" summaryType="avg" [valueFormat]="separatorKV" displayFormat="{0}"></dxi-total-item>
                        </dxo-summary>

                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="expandGroupKV"></dxo-grouping>
                        <dxo-export [enabled]="true" fileName="Kilómetros po viaje" [customizeExcelCell]="customizeKV"></dxo-export>
                        <dxo-paging [pageSize]="paginacionKV"></dxo-paging>
                        <dxo-sorting mode="none"></dxo-sorting>

                    </dx-data-grid>
                    <br><br>

                    <h3>Ingreso por viaje</h3>
                    <dx-data-grid  #KMSXVJS id="gridContainer6" [dataSource]="ingresoViajes" [height]="500"[showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedIV($event)" (onCellPrepared)="onCellPreparedIV($event)" [customizeExportData]="customizeExportDataIV">

                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        
                        <dxi-column dataField="mes" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>

                        <dxi-column dataField="operacion" caption="Operación"></dxi-column>
                        <dxi-column dataField="cuatitlan" caption="Cuautitlan" [format]="separatorIV"></dxi-column>
                        <dxi-column dataField="tultitlan" caption="Tultitlan" [format]="separatorIV"></dxi-column>
                        <dxi-column dataField="guadalajara" caption="Guadalajara" [format]="separatorIV"></dxi-column>
                        <dxi-column dataField="hermosillo" caption="Hermosillo" [format]="separatorIV"></dxi-column>
                        <dxi-column dataField="mexicali" caption="Mexicali" [format]="separatorIV"></dxi-column>
                        <dxi-column dataField="orizaba" caption="Orizaba" [format]="separatorIV"></dxi-column>
                        <dxi-column dataField="ramosArizpe" caption="Ramos Arizpe" [format]="separatorIV"></dxi-column>
                        <dxi-column dataField="total" caption="Total" [format]="separatorIV"></dxi-column>
                        
                        <dxo-summary>
                            <!-- SUMARY DE GRUPO -->
                            <dxi-group-item column="cuatitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorIV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="tultitlan" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorIV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="guadalajara" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorIV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="hermosillo" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorIV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="mexicali" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorIV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="orizaba" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorIV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="ramosArizpe" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorIV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                            <dxi-group-item column="total" summaryType="sum" displayFormat="{0}" [valueFormat]="separatorIV" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
    
                            <dxi-total-item column="cuatitlan" summaryType="avg" [valueFormat]="separatorIV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="tultitlan" summaryType="avg" [valueFormat]="separatorIV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="guadalajara" summaryType="avg" [valueFormat]="separatorIV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="hermosillo" summaryType="avg" [valueFormat]="separatorIV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="mexicali" summaryType="avg" [valueFormat]="separatorIV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="orizaba" summaryType="avg" [valueFormat]="separatorIV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="ramosArizpe" summaryType="avg" [valueFormat]="separatorIV" displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="total" summaryType="avg" [valueFormat]="separatorIV" displayFormat="{0}"></dxi-total-item>
                        </dxo-summary>

                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="expandGroupKV"></dxo-grouping>
                        <dxo-export [enabled]="true" fileName="Ingreso por viaje" [customizeExcelCell]="customizeIV"></dxo-export>
                        <dxo-paging [pageSize]="paginacionKV"></dxo-paging>
                        <dxo-sorting mode="none"></dxo-sorting>

                    </dx-data-grid>
        </dxi-item>

        <!-- <dxi-item title="Ingreso por operador">
            <br><br>
            <dx-responsive-box>
                <dxi-col [ratio]=".20"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]=".25"></dxi-col>

                <dxi-col [ratio]="1"></dxi-col>
                
        

                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
        

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Periodo:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="periodo" displayExpr="periodo" valueExpr="periodo" (onValueChanged)="seleccionarPeriodo($event)">
                    </dx-select-box>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                        </dx-button>
                    </div>
                </dxi-item>

            </dx-responsive-box>
            <br><br>

            

            <dx-chart id="chart" [dataSource]="graficaModel" palette="soft" title="Kilómetros por Udn">
            
                <dxi-series valueField="kmstotalC" name="kilometros cargados" color="#363640">
                    <dxo-label [visible]="true" [format]="separator" position="inside">
                        <dxo-font size="9"></dxo-font>
                    </dxo-label>
                </dxi-series>
                <dxi-series valueField="kmstotalV" name="kilometros vacios" color="#FA593F">
                    <dxo-label [visible]="true" [format]="separator" position="inside">
                        <dxo-font size="9"></dxo-font>
                    </dxo-label>
                </dxi-series>
                <dxo-common-series-settings
                    argumentField="udN"
                    type="bar"
                    [ignoreEmptyPoints]="true"
                >
                </dxo-common-series-settings>
                <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                </dxo-legend>
                <dxo-export [enabled]="true"></dxo-export>
            </dx-chart>

           
            
         <br>
           
            <dx-data-grid  #ER id="gridContainer2" [dataSource]="ingresoOperador" [height]="600"[showBorders]="true" [columnAutoWidth]="true"
            (onRowPrepared)="onRowPreparedIO($event)" (onCellPrepared)="onCellPreparedIO($event)">

            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..." (textChange)="test($event)"></dxo-search-panel>
            <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
            <dxo-paging [pageSize]="100"></dxo-paging>
            <dxo-export [enabled]="true" fileName="Ingreso-Operador" [customizeExcelCell]="customizeI"></dxo-export>
            <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

              <dxi-column dataField="udN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
              <dxi-column dataField="operacion" caption="" [fixed]="true" [groupIndex]="1"></dxi-column>
  
              <dxi-column dataField="operador" caption="Operador"></dxi-column>
              <dxi-column caption="Kilometros">
                  <dxi-column dataField="kmsCargados" caption="Cargados" [format]="separator"></dxi-column>
                  <dxi-column dataField="kmsVacios" caption="Vacios" [format]="separator"></dxi-column>
                  <dxi-column dataField="kmsTotal" caption="Total" [format]="separator"></dxi-column>
              </dxi-column>
              <dxi-column caption="Viajes">
                  <dxi-column dataField="viajesCargados" caption="Cargados" [format]="separator"></dxi-column>
                  <dxi-column dataField="viajesVacios" caption="Vacios" [format]="separator"></dxi-column>
                  <dxi-column dataField="viajesTotal" caption="Total" [format]="separator"></dxi-column>
              </dxi-column>
              <dxi-column caption="Ingresos">
                  <dxi-column dataField="ingresoCargados" caption="Cargados" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                  <dxi-column dataField="ingresoVacios" caption="Vacios" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
                  <dxi-column dataField="ingresoTotal" caption="Total" format="$ #,###,###.##;-$ #,##0.##"></dxi-column>
              </dxi-column>
  
              <dxo-summary>
               
                  <dxi-group-item column="kmsCargados" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                  <dxi-group-item column="kmsVacios" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                  <dxi-group-item column="kmsTotal" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
              
                  <dxi-group-item column="viajesCargados" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                  <dxi-group-item column="viajesVacios" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                  <dxi-group-item column="viajesTotal" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                  
                  <dxi-group-item column="ingresoCargados" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                  <dxi-group-item column="ingresoVacios" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
                  <dxi-group-item column="ingresoTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="false" [alignByColumn]="true"></dxi-group-item>
  
            
                  <dxi-total-item column="kmsCargados" summaryType="sum" displayFormat="{0}" [valueFormat]="separator"></dxi-total-item>
                  <dxi-total-item column="kmsVacios" summaryType="sum" displayFormat="{0}" [valueFormat]="separator"></dxi-total-item>
                  <dxi-total-item column="kmsTotal" summaryType="sum" displayFormat="{0}" [valueFormat]="separator"></dxi-total-item>
                
                  <dxi-total-item column="viajesCargados" summaryType="sum" displayFormat="{0}" [valueFormat]="separator"></dxi-total-item>
                  <dxi-total-item column="viajesVacios" summaryType="sum" displayFormat="{0}" [valueFormat]="separator"></dxi-total-item>
                  <dxi-total-item column="viajesTotal" summaryType="sum" displayFormat="{0}" [valueFormat]="separator"></dxi-total-item>
                   
                  <dxi-total-item column="ingresoCargados" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                  <dxi-total-item column="ingresoVacios" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
                  <dxi-total-item column="ingresoTotal" summaryType="sum" valueFormat="$ #,##0.##;-$ #,##0.##" displayFormat="{0}"></dxi-total-item>
              </dxo-summary>

            </dx-data-grid>
        </dxi-item> -->
    </dx-tab-panel>
   
        <!-- LOAD PANEL -->
        <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
        </dx-load-panel>
</div>
