<h2 class="content-block">Ingresos Anuales</h2>
<div [id]="'myDiv'" class="content-block dx-card responsive-paddings">
    <!-- <div>
        <div class="dx-field">
            <div class="dx-field-label" style="width: 10%;">Año</div>
            <div class="dx-field-value" style="width: 20%;">
                <dx-select-box [items]="anios" displayExpr="anio" valueExpr="idAnio" (onValueChanged)="seleccionarAnio($event)">
                </dx-select-box>
            </div>

            <div class="dx-field-label" style="width: 5%;"></div>

            <div class="dx-field-label" style="width: 20%;">Unidad de negocio</div>
            <div class="dx-field-value" style="width: 60%;">
                <dx-drop-down-box [(value)]="treeBoxValue" [(opened)]="isTreeBoxOpened" valueExpr="ID" displayExpr="name" placeholder="Selecciona un valor..." [showClearButton]="true" [dataSource]="treeDataSource" (onOptionChanged)="onTreeBoxOptionChanged($event)">
                    <div *dxTemplate="let data of 'content'">
                        <dx-tree-view [dataSource]="treeDataSource" dataStructure="plain" keyExpr="ID" parentIdExpr="categoryId" selectionMode="single" displayExpr="name" [selectByClick]="true" (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
                        </dx-tree-view>
                    </div>
                </dx-drop-down-box>
            </div>
            <div class="dx-field-value" style="width: 20%;">
                <dx-button stylingMode="contained" text="Actualizar" icon="search" type="normal" [width]="240" (onClick)="clickClientesRutas($event)">
                </dx-button>
            </div>

        </div>
    </div>
    <br> -->

    <div>

        <dx-tab-panel>
            <dxi-item title=Ingresos>              
                <dx-data-grid #rentCont2 id="gridContainer2" [dataSource]="indicadores" [showColumnLines]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [allowColumnResizing]="true" [allowColumnReordering]="false" [columnAutoWidth]="true" [showBorders]="true"
                (onRowPrepared)="onRowPrepared($event)" (onContentReady)="onContentReady($event)" (onCellPrepared)="onCellPrepared($event)" (onCellClick)="verDetallesClick($event)">
              
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>

                <dxi-column dataField="unidadNegocio" caption="" headerCellTemplate="headerTemplate" [groupIndex]="0"></dxi-column>
      
                <dxi-column dataField="tipoOperacion" caption="Operación" [fixed]="true" headerCellTemplate="headerTemplate"></dxi-column>

                <dxi-column caption="Enero" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="eneroTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="eneroPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Febrero" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="febreroTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="febreroPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Marzo" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="marzoTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="marzoPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Abril" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="abrilTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="abrilPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Mayo" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="mayoTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="mayoPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Junio" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="junioTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="junioPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Julio" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="julioTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="julioPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>    
                <dxi-column caption="Agosto" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="agostoTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="agostoPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Septiembre" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="sepTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="sepPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Octubre" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="octTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="octPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Noviembre" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="novTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="novPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>
                <dxi-column caption="Diciembre" headerCellTemplate="headerTemplate">
                    <dxi-column dataField="dicTotal" caption="Ingreso" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                    <dxi-column dataField="dicPres" caption="Presupuesto" [fixed]="false" format="$ #,###,###.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
                </dxi-column>

                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
      
              <dxo-summary [calculateCustomSummary]="calcularPorcentajes">
                <!-- SUMARY TOTALES -->
                <!-- ENERO -->
                    <dxi-total-item column="eneroTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="eneroPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- FEBRERO -->
                    <dxi-total-item column="febreroTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="febreroPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- MARZO -->
                    <dxi-total-item column="marzoTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="marzoPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- ABRIL -->
                    <dxi-total-item column="abrilTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="abrilPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- MAYO -->
                    <dxi-total-item column="mayoTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="mayoPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- JUNIO -->
                    <dxi-total-item column="junioTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="junioPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- JULIO -->
                    <dxi-total-item column="julioTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="julioPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- AGOSTO -->
                    <dxi-total-item column="agostoTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="agostoPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- SEPTIEMBRE -->
                    <dxi-total-item column="sepTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="sepPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- OCTUBRE -->
                    <dxi-total-item column="octTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item> 
                    <dxi-total-item column="octPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item> 
                    <!-- NOVIEMBRE -->
                    <dxi-total-item column="novTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="novPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <!-- DICIEMBRE -->
                    <dxi-total-item column="dicTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
                    <dxi-total-item column="dicPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##">
                    </dxi-total-item>
      
                <!-- SUMARY DE GRUPO -->
                <!-- ENERO -->
                  <dxi-group-item column="eneroTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="eneroPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                <!-- FEBRERO -->
                  <dxi-group-item column="febreroTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="febreroPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- MARZO -->
                  <dxi-group-item column="marzoTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="marzoPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- ABRIL -->
                  <dxi-group-item column="abrilTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="abrilPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- MAYO -->
                  <dxi-group-item column="mayoTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="mayoPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- JUNIO -->
                  <dxi-group-item column="junioTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="junioPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- JULIO -->
                  <dxi-group-item column="julioTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="julioPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- AGOSTO -->
                  <dxi-group-item column="agostoTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="agostoPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- SEPTIEMBRE -->
                  <dxi-group-item column="sepTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="sepPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- OCTUBRE -->
                  <dxi-group-item column="octTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="octPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- NOVIEMBRE -->
                  <dxi-group-item column="novTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="novPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>
                  <!-- DICIEMBRE -->
                  <dxi-group-item column="dicTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                  </dxi-group-item>
                  <dxi-group-item column="dicPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item>

                <!-- <dxi-group-item showInColumn="tipoOperacion"column="tipoOperacion" summaryType="sum" displayFormat="SUBTOTAL" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true">
                </dxi-group-item> -->

            
              </dxo-summary>
      
              <div *dxTemplate="let data of 'headerTemplate'">
                  <div style="font-weight: bolder; color: black;">
                      {{ data.column.caption }}
                  </div>
              </div>
              <div *dxTemplate="let cell of 'cellTemplateBold'">
                  <div style="font-weight: bold;">{{cell.text}}</div>
              </div>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-paging [pageSize]="60"></dxo-paging>
              <dxo-sorting mode="none"></dxo-sorting>
          </dx-data-grid>
              
            </dxi-item>
        </dx-tab-panel>
    </div>


    <!--==========================MODAL REAL=========================================================-->
    <dx-popup [width]="1250" [height]="650" [showTitle]="true" title="Detalle" [dragEnabled]="false" [closeOnOutsideClick]="true"
    [showCloseButton]="true" container=".dx-viewport" [(visible)]="openModReal"> 
    <!-- <dxo-position at="middle" my="center" [of]="positionOf"> </dxo-position>  -->
    
    
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
        <!--#region :::: GRID DETALLE DE REAL ::::  -->
        <dx-data-grid #rentCont2 id="gridContainer2" [dataSource]="indicadores" [showColumnLines]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [allowColumnResizing]="true" [allowColumnReordering]="false" [columnAutoWidth]="true" [showBorders]="true"
        (onRowPrepared)="onRowPreparedDetalle($event)" (onCellPrepared)="onCellPreparedDetalle($event)">

        <dxo-export [enabled]="true"></dxo-export>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>

        <dxi-column dataField="unidadNegocio" caption="" headerCellTemplate="headerTemplate" [groupIndex]="0"></dxi-column>

        <dxi-column dataField="tipoOperacion" caption="Operación" [fixed]="true" headerCellTemplate="headerTemplate"></dxi-column>

        <dxi-column caption="Enero" headerCellTemplate="headerTemplate">
            <dxi-column dataField="eneroFlete" caption="Flete" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="eneroOtros" caption="Otros" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130"  headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="eneroTotal" caption="Total" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="eneroAnt" caption="Año Ant." [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="eneroPor" caption="%" [fixed]="false" format="percent" [width]="60" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="eneroPres" caption="Presupuesto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="eneroPorP" caption="%" [fixed]="false" format="percent" [width]="60" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="eneProyeccion" caption="Proyección" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="enePorProy" caption="%" [fixed]="false" format="percent" [width]="60" headerCellTemplate="headerTemplate"></dxi-column>
            <!-- <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column> -->
        </dxi-column>
        <dxi-column caption="Febrero" headerCellTemplate="headerTemplate">
            <dxi-column dataField="febreroFlete" caption="Flete" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febreroOtros" caption="Otros" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febreroTotal" caption="Total" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febreroAnt" caption="Año Ant." [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febreroPor" caption="%" [fixed]="false" format="percent" [width]="60" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febreroPres" caption="Presupuesto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febreroPorP" caption="%" [fixed]="false" format="percent" [width]="60" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febProyeccion" caption="Proyección" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" [width]="130" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="febPorProy" caption="%" [fixed]="false" format="percent" [width]="60" headerCellTemplate="headerTemplate"></dxi-column>
            <!-- <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column> -->
        </dxi-column>
        <!-- <dxi-column caption="Marzo" headerCellTemplate="headerTemplate">
            <dxi-column dataField="marzoReal" caption="Real" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="marzoPresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="marzoDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="marzoPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Abril" headerCellTemplate="headerTemplate">
            <dxi-column dataField="abrilReal" caption="Real" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="abrilPresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="abrilDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="abrilPorDesv" caption="%" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Mayo" headerCellTemplate="headerTemplate">
            <dxi-column dataField="mayoReal" caption="Real" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="mayoPresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="mayoDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="mayoPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Junio" headerCellTemplate="headerTemplate">
            <dxi-column dataField="junioReal" caption="Real" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="junioPresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="junioDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="junioPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Julio" headerCellTemplate="headerTemplate">
            <dxi-column dataField="julioReal" caption="Real." [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="julioPresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="julioDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="julioPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Agosto" headerCellTemplate="headerTemplate">
            <dxi-column dataField="agostoReal" caption="Real" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="agostoPresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="agostoDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="agostoPorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Septiembre" headerCellTemplate="headerTemplate">
            <dxi-column dataField="septiembreReal" caption="Real" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="septiembrePresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="septiembreDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="septiembrePorDesv" caption="%" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Octubre" headerCellTemplate="headerTemplate">
            <dxi-column dataField="octubreReal" caption="Real" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="octubrePresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="octubreDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="octubrePorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Noviembre" headerCellTemplate="headerTemplate">
            <dxi-column dataField="noviembreReal" caption="Real" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="noviembrePresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="noviembreDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="noviembrePorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column>
        <dxi-column caption="Diciembre" headerCellTemplate="headerTemplate">
            <dxi-column dataField="diciembreReal" caption="Real" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="diciembrePresupuesto" caption="Pppto" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="diciembreDesviacion" caption="Var" [fixed]="false" format="$ #,##0.##;-$ #,##0.##" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="diciembrePorDesv" caption="%" [fixed]="false" headerCellTemplate="headerTemplate"></dxi-column>
            <dxi-column dataField="" caption="Ver" [fixed]="false" headerCellTemplate="headerTemplate" cellTemplate="detalleCellTemplate"></dxi-column>
        </dxi-column> -->

        <!--*ngIf="groupValue !== '0.- INDICADORES' "  -->
        <dxo-summary [calculateCustomSummary]="calcularPorcentajes">
          <!-- SUMARY DE GRUPO -->
            <!--ENERO [alignByColumn]="true"-->
            <dxi-group-item column="eneroFlete" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="eneroOtros" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="eneroTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="eneroAnt" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="eneroPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="eneProyeccion" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <!--FEBRERO-->
            <dxi-group-item column="febreroFlete" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="febreroOtros" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="febreroTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="febreroAnt" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="febreroPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item column="febProyeccion" summaryType="sum" displayFormat="{0}" valueFormat="$ #,###,###.##;-$ #,##0.##" [showInGroupFooter]="true"></dxi-group-item>

            <!-- PORCENTAJES GRUPO -->
            <!--ENERO-->
            <dxi-group-item showInColumn="eneroPor" name="grupEneroPor" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item showInColumn="eneroPorP" name="grupEneroPorP" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item showInColumn="enePorProy" name="grupEneroPorProy" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
            <!--FEBRERO-->
            <dxi-group-item showInColumn="febreroPor" name="grupFebreroPor" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item showInColumn="febreroPorP" name="grupFebreroPorP" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
            <dxi-group-item showInColumn="febPorProy" name="grupFebreroPorProy" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true"></dxi-group-item>
            
            <!-- TOTAL TOTOAL -->
            <!-- ENERO -->
            <dxi-total-item column="eneroFlete" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="eneroOtros" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="eneroTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="eneroAnt" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="eneroPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="eneProyeccion" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>

            <!-- FEBRERO -->
            <dxi-total-item column="febreroFlete" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="febreroOtros" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="febreroTotal" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="febreroAnt" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="febreroPres" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>
            <dxi-total-item column="febProyeccion" summaryType="sum" displayFormat="{0}" valueFormat="$ #,##0.##;-$ #,##0.##">
            </dxi-total-item>

            <!-- TOTAL TOTAL PORCENTAJE -->
            <!-- ENERO -->
            <dxi-total-item showInColumn="eneroPor" name="TotEneroPor" summaryType="custom" displayFormat="{0}" valueFormat="percent">
            </dxi-total-item>
            <dxi-total-item showInColumn="eneroPorP" name="TotEneroPorP" summaryType="custom" displayFormat="{0}" valueFormat="percent">
            </dxi-total-item>
            <dxi-total-item showInColumn="enePorProy" name="TotEneroPorProy" summaryType="custom" displayFormat="{0}" valueFormat="percent">
            </dxi-total-item>

            <!-- FEBRERO -->
            <dxi-total-item showInColumn="febreroPor" name="TotFebreroPor" summaryType="custom" displayFormat="{0}" valueFormat="percent">
            </dxi-total-item>
            <dxi-total-item showInColumn="febreroPorP" name="TotFebreroPorP" summaryType="custom" displayFormat="{0}" valueFormat="percent">
            </dxi-total-item>
            <dxi-total-item showInColumn="febPorProy" name="TotFebreroPorProy" summaryType="custom" displayFormat="{0}" valueFormat="$percent">
            </dxi-total-item>
        </dxo-summary>

        <div *dxTemplate="let data of 'headerTemplate'">
            <div style="font-weight: bolder; color: black">
                {{ data.column.caption }}
            </div>
        </div>
        <div *dxTemplate="let cell of 'cellTemplateBold'">
            <div style="font-weight: bold;">{{cell.text}}</div>
        </div>
        <dxo-paging [pageSize]="paginacion"></dxo-paging>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="expandGroup" ></dxo-grouping>
        <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" displayMode="full" [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-sorting mode="none"></dxo-sorting>
    </dx-data-grid>
      </dx-scroll-view>
    </div>
  </dx-popup>
<!--=============================================FIN MODAL==========================================-->

<dx-toast [(visible)]="isVisible" type="info" message="Seleccione Año y Mes">  
    <dxo-position
        my="top"
        at="right"
        of="#container">
    </dxo-position>
</dx-toast>
</div>